<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @firstName %> <%= @lastName %>, Welcome to Nickslist.</h1>
    <p>
      You have successfully registered with Nicklist.<br/><br/>
      Soon your account will be activated and then you can login to our website.<br /><br/>
      For this, you will be notified on the registered emailid.
    </p>
    <p>
      Please find below your payment details: <br />
      Payment Status: <%= @responseStatus %> <br />
      Payment Amount: $<%= @amount %> <br />
      Transaction ID : <%= @transactionID %> <br />
      Payment Date : <%= @timestamp %><br/><br/>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>