<html>
	<head>
		<title> BillyList Admin </title>

		<script type="text/javascript">
			$(document).ready(function() {
				$('#tbSubUser').dataTable({
					"sPaginationType": "full_numbers",
					//"sDom": '<"top"lf>rt<"bottom"ip><"clear">'
				});
			});
		</script>
	</head>
	<body>
		<div id="demo">
			<% if(!@subscribedUsers.blank?) %>

			<table id="tbSubUser" style="width: 100%">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Is Subscribed</th>
						<th>Is Activated</th>
						<th>Is Approved</th>
					</tr>
				</thead>

				<tbody>
					<% !@subscribedUsers.each do |subUser| %>
					<tr>
						<td><%= subUser.FirstName %></td>
						<td><%= subUser.LastName %></td>
						<td><%= subUser.IsSubscribed %></td>
						<td><%= subUser.IsActivated %></td>
						<td><%= subUser.IsApproved %></td>
					</tr>
					<% end %>
				</tbody>

			</table>

			<% end %>
		</div>
	</body>
</html>
