<!DOCTYPE html>
<html>
	<head>
		<title>NicksList - Add Reviews</title>
		
	</head>
	<body>
		<%= render partial: "/layouts/header" %>
		
		<div id="main-content-wrapper">
			<div class="browser-center">

				<div id="review-header">
					<div id="review-header-left">
						<h1><%= @firstName %>  <%= @lastName %></h1>
						<p>
							<% if(!@reviewer.blank?) %>
							<% if(@reviewer.length == 1) %>
							has <%= @reviewer.length %> review available
							<% else %>
							has <%= @reviewer.length %> reviews available
							<% end %>
							<% end %>
						</p>
					</div>
					<div id="review-header-right">
						<div class="address-desc">
							<%= @streetAddress %>,	<%= @citystateVal %> <%= @zipCode %>
						</div>
						<div class="address-phone">
							<%= @phoneNumber %>
						</div>
					</div>
				</div>

				<div class="review-block-wrapper">
					<% if(!@reviewer.blank?) %>
					<% i = 1 %>
					<% @reviewer.each do |r| %>
					<div class="review-block">
						<div class="customer-block">
                    		<div class="customer-photo">
                        		<div class="serial-number"><%= sprintf('%02d', i) %></div>
                        	</div>
                        <div class="customer-detail">
                        	<div class="customer-name-desc">
                            	<h1><%= r.DateCreated.strftime('%e %B, %Y') %></h1>
                            </div>
                        </div>
                    	</div>
						
						<div class="review-area">
							<% if(@ChkTermsConditions == 1) %>
							
							<div class="read-review-bt">
								<% if(r.ID == session[:user_id]) %>
								<form action="<%= review_customers_TermsConditions_url %>" method="post">
									<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= @firstName %>" />
									<input type="hidden" name="hidLastName" id="hidLastName" placeholder="Last Name" value="<%= @lastName %>" />
									<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" placeholder="Street Address" value="<%= @streetAddress %>" />
									<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City, State" value="<%= @citystateVal %>" />
									<input type="hidden" name="hidZipCode" id="hidZipCode" placeholder="Zipcode" value="<%= @zipCode %>" />
									<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" placeholder="Phone Number" value="<%= @phoneNumber %>" />
									<input type="hidden" name="hidReviewerID" id="hidReviewerID" value="<%= r.ID %>" />
									<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= r.ReviewID %>" />
									<input type="hidden" name="hidReviewCount" id="hidReviewCount" value="<%= @reviewer.length %>" />
									<input type="hidden" name="hidRedirectUrl" id="hidRedirectUrl" value="<%= review_customers_UpdateReviews_url %>" />
									<input type="submit" name="Submit" id="Submit" value="Update Review" class="reivew-blue-bt" />
								</form>
								<% end %>
							</div>
							<div class="read-review-bt">
								<form action="<%= review_customers_TermsConditions_url %>" method="post">
									<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= @firstName %>" />
									<input type="hidden" name="hidLastName" id="hidLastName" placeholder="Last Name" value="<%= @lastName %>" />
									<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" placeholder="Street Address" value="<%= @streetAddress %>" />
									<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City, State" value="<%= @citystateVal %>" />
									<input type="hidden" name="hidZipCode" id="hidZipCode" placeholder="Zipcode" value="<%= @zipCode %>" />
									<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" placeholder="Phone Number" value="<%= @phoneNumber %>" />
									<input type="hidden" name="hidReviewerID" id="hidReviewerID" value="<%= r.ID %>" />
									<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= r.ReviewID %>" />
									<input type="hidden" name="hidReviewCount" id="hidReviewCount" value="<%= @reviewer.length %>" />
									<input type="hidden" name="hidRedirectUrl" id="hidRedirectUrl" value="<%= review_customers_ReadReviews_url %>" />
									<input type="submit" name="Submit" id="Submit" value="Read Review" class="reivew-blue-bt" />
								</form>
							</div>
      
    						<% else %>
							
							<div class="read-review-bt">
								<% if(r.ID == session[:user_id]) %>
								<form action="<%= review_customers_UpdateReviews_url %>" method="post">
									<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= @firstName %>" />
									<input type="hidden" name="hidLastName" id="hidLastName" placeholder="Last Name" value="<%= @lastName %>" />
									<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" placeholder="Street Address" value="<%= @streetAddress %>" />
									<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City, State" value="<%= @citystateVal %>" />
									<input type="hidden" name="hidZipCode" id="hidZipCode" placeholder="Zipcode" value="<%= @zipCode %>" />
									<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" placeholder="Phone Number" value="<%= @phoneNumber %>" />
									<input type="hidden" name="hidReviewerID" id="hidReviewerID" value="<%= r.ID %>" />
									<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= r.ReviewID %>" />
									<input type="hidden" name="hidReviewCount" id="hidReviewCount" value="<%= @reviewer.length %>" />
									<input type="submit" name="Submit" id="Submit" value="Update Review" class="reivew-blue-bt" />
								</form>
								<% end %>
							</div>
							<div class="read-review-bt">
								<form action="<%= review_customers_ReadReviews_url %>" method="post">
									<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= @firstName %>" />
									<input type="hidden" name="hidLastName" id="hidLastName" placeholder="Last Name" value="<%= @lastName %>" />
									<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" placeholder="Street Address" value="<%= @streetAddress %>" />
									<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City, State" value="<%= @citystateVal %>" />
									<input type="hidden" name="hidZipCode" id="hidZipCode" placeholder="Zipcode" value="<%= @zipCode %>" />
									<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" placeholder="Phone Number" value="<%= @phoneNumber %>" />
									<input type="hidden" name="hidReviewerID" id="hidReviewerID" value="<%= r.ID %>" />
									<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= r.ReviewID %>" />
									<input type="hidden" name="hidReviewCount" id="hidReviewCount" value="<%= @reviewer.length %>" />
									<input type="submit" name="Submit" id="Submit" value="Read Review" class="reivew-blue-bt" />
								</form>
							</div>
							<% end %>
						</div>
					</div>
					<% i = i + 1 %>
					<% end %>
					<% end %>
				</div>

			</div>
		</div>

		<%= render partial: "/layouts/footer" %>		
	</body>
</html>
