<html>
	<head>
		<script>
			$(function(){			
			
			//$('#x_relay_response').val("FALSE");
			$("#frmReadReview").submit();
		});
		</script>
	</head>
	<body>
		<form id="frmReadReview" action="<%= review_customers_ReadReviews_url %>" method="post">
		<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= @firstName %>" />
		<input type="hidden" name="hidLastName" id="hidLastName" placeholder="Last Name" value="<%= @lastName %>" />
		<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" placeholder="Street Address" value="<%= @streetAddress %>" />
		<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City, State" value="<%= @citystateVal %>" />
		<input type="hidden" name="hidZipCode" id="hidZipCode" placeholder="Zipcode" value="<%= @zipCode %>" />
		<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" placeholder="Phone Number" value="<%= @phoneNumber %>" />
		<input type="hidden" name="hidReviewerID" id="hidReviewerID" value="<%= @reviewerID %>" />
		<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= @reviewID %>" />
		<input type="hidden" name="hidCurrentIndex" id="hidCurrentIndex" value="<%= @currentIndex %>" />
		<input type="hidden" name="hidReviewCount" id="hidReviewCount" value="<%= @reviewCount %>" />
		</form>
	</body>
</html>
