<!DOCTYPE html>
<html>
	<head>
		<title>NicksList - Add Reviews</title>
		<script>
			$(document).ready(function() {
				
    			$("input[name$='radYesNo2']").click(function() {	
        		var rbvalue = $(this).val();
				if(rbvalue == 'No')
				{
					$("#divSubQuest3").hide();
					$("#divSubQuest4").hide();
					$("#divSubQuest5").hide();
					$("#divSubQuest6").hide();
					$("#divSubQuest7").hide();
				}
				else
				{
					$("#divSubQuest3").show();
					$("#divSubQuest4").show();
					$("#divSubQuest5").show();
					$("#divSubQuest6").show();
					$("#divSubQuest7").show();
				}        		
    			});
			});
		</script>
	</head>
	<body>
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">

					<div id="review-header">
						<div id="review-header-left">
							<h1><%= @revfirstName %>  <%= @revlastName %></h1>
							<!--<p>
								<% if(@reviewCount == '1') %>
								has <%= @reviewCount %> review available
								<% else %>
								has <%= @reviewCount %> reviews available
								<% end %>
							</p>-->
						</div>
						<div id="review-header-right">
							<div class="address-desc">
								<%= @revstreetAddress %>,	<%= @revcitystateVal %> <%= @revzipCode %>
							</div>
							<div class="address-phone">
								<%= @phoneNumber %>
							</div>
						</div>
					</div>

					<div class="review-block-wrapper">
						<div class="page-heading">
							Update Review Details
							<div style="float:right;">
								<form id="getSelectedReview" action="<%= customer_search_GetDetails_url %>" method="post">
								<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= @firstName %>" />
								<input type="hidden" name="hidLastName" id="hidLastName" placeholder="Last Name" value="<%= @lastName %>" />
								<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" placeholder="Street Address" value="<%= @streetAddress %>" />
								<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City, State" value="<%= @citystateVal %>" />
								<input type="hidden" name="hidZipCode" id="hidZipCode" placeholder="Zipcode" value="<%= @zipCode %>" />
								<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" placeholder="Phone Number" value="<%= @phoneNumber %>" />
								<input type="submit" name="Submit" id="Submit" value="GO BACK TO REVIEW LISTING" class="org-bt" />
								</form>	
							</div>
						</div>

						<% if(!@reviewQuestion.blank?) %>
						<form action="<%= review_customers_UpdateReviewData_url %>" method="post">
							<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= @firstName %>" />
							<input type="hidden" name="hidLastName" id="hidLastName" placeholder="Last Name" value="<%= @lastName %>" />
							<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" placeholder="Street Address" value="<%= @streetAddress %>" />
							<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City, State" value="<%= @citystateVal %>" />
							<input type="hidden" name="hidZipCode" id="hidZipCode" placeholder="Zipcode" value="<%= @zipCode %>" />
							<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" placeholder="Phone Number" value="<%= @phoneNumber %>" />

							<div id="divGeneral">
								<% i = 1 %>
								<% @reviewQuestion.each do |quset| %>
								<% if(quset.Type == "General") %>
								<% if(quset.ParentID == nil) %>

								<div class="question-block">
									<div class="question-number">
										<h1><%= i %></h1>
										<p>
											Question
										</p>
									</div>
									<div class="question-area">
										<div class="question-content">
											<%= quset.Description %>?
										</div>
										<div class="question-content-answers">
											<div class="question-option">
												<% if(@reviewAnswers[quset.ID - 1].IsYes == "Yes") %>
												<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_Y<%= quset.ID %>" value="Yes" />
												<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_N<%= quset.ID %>" value="No" />
												<label for="radYesNo_N<%= quset.ID %>">No</label>

												<% elsif(@reviewAnswers[quset.ID - 1].IsYes == "No") %>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_Y<%= quset.ID %>" value="Yes" />
												<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
												<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_N<%= quset.ID %>" value="No" />
												<label for="radYesNo_N<%= quset.ID %>">No</label>

												<% else %>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_Y<%= quset.ID %>" value="Yes" />
												<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_N<%= quset.ID %>" value="No" />
												<label for="radYesNo_N<%= quset.ID %>">No</label>
												<% end %>
											</div>
											<div class="question-comment">
												<% if(quset.ID == 1) %>
												<textarea id="quesComment<%= quset.ID %>" class="comment-area" rows="5" cols="45" name="quesComment<%= quset.ID %>"><%= @reviewAnswers[quset.ID - 1].Comments %></textarea>
												<% end %>

											</div>
										</div>
									</div>
								</div>

								<% else %>
								<% if(@reviewAnswers[1].IsYes) == 'Yes' %>
								<div id="divSubQuest<%= quset.ID %>" class="sub-question">
								<% else %>
								<div id="divSubQuest<%= quset.ID %>" class="sub-question" style="display: none">
								<% end %>
									<div class="sub-question-area">
										<div class="question-content">
											<%= quset.Description %>?
										</div>
										<div class="question-content-answers">
											<div class="question-option">
												<% if(quset.ID != 7) %>

												<% if(@reviewAnswers[quset.ID - 1].IsYes == "Yes") %>
												<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_Y<%= quset.ID %>" value="Yes" />
												<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_N<%= quset.ID %>" value="No" />
												<label for="radYesNo_N<%= quset.ID %>">No</label>
												<% elsif(@reviewAnswers[quset.ID - 1].IsYes == "No") %>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_Y<%= quset.ID %>" value="Yes" />
												<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
												<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_N<%= quset.ID %>" value="No" />
												<label for="radYesNo_N<%= quset.ID %>">No</label>
												<% else %>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_Y<%= quset.ID %>" value="Yes" />
												<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_N<%= quset.ID %>" value="No" />
												<label for="radYesNo_N<%= quset.ID %>">No</label>
												<% end %>

												<% else %>
												<% if(@reviewAnswers[quset.ID - 1].IsYes == "Bid process") %>
												<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_Bid<%= quset.ID %>" value="Bid process" />
												<% else %>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_Bid<%= quset.ID %>" value="Bid process" />

												<% end %>
												<label for="radYesNo_Bid<%= quset.ID %>">Bid process?</label>

												<% if(@reviewAnswers[quset.ID - 1].IsYes == "Doing the work") %>
												<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_Work<%= quset.ID %>" value="Doing the work" />
												<% else %>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_Work<%= quset.ID %>" value="Doing the work" />

												<% end %>
												<label for="radYesNo_Work<%= quset.ID %>">Doing the work?</label>

												<% if(@reviewAnswers[quset.ID - 1].IsYes == "Completion") %>
												<input type="radio" checked="checked" name="radYesNo_Completion<%= quset.ID %>" id="radYesNo<%= quset.ID %>" value="Completion" />
												<% else %>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_Completion<%= quset.ID %>" value="Completion" />

												<% end %>
												<label for="radYesNo_Completion<%= quset.ID %>">Completion?</label>

												<% if(@reviewAnswers[quset.ID - 1].IsYes == "After completion") %>
												<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_AfterComp<%= quset.ID %>" value="After completion" />
												<% else %>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_AfterComp<%= quset.ID %>" value="After completion" />

												<% end %>
												<label for="radYesNo_AfterComp<%= quset.ID %>">After completion?</label>

												<% if(@reviewAnswers[quset.ID - 1].IsYes == "All of the above") %>
												<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_All<%= quset.ID %>" value="All of the above" />
												<% else %>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_All<%= quset.ID %>" value="All of the above" />
												<% end %>
												<label for="radYesNo_All<%= quset.ID %>">All of the above?</label>
												<% end %>
											</div>

										</div>
									</div>
								</div>

								<% end %>
								<% i = i + 1 %>
								<% end %>
								<% end %>
							</div>
							<div id="divDetailed" style="display: none">
								<% j = 1 %>
								<% @reviewQuestion.each do |quset| %>
								<% if(quset.Type == "Detailed") %>

								<div class="question-block">
									<div class="question-number">
										<h1><%= j %></h1>
										<p>
											Question
										</p>
									</div>
									<div class="question-area">
										<div class="question-content">
											<%= quset.Description %>?
										</div>
										<div class="question-content-answers">
											<div class="question-option">
												<% if(quset.ID != 17) %>

												<% if(@reviewAnswers[quset.ID - 1].IsYes == "Yes") %>
												<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_Y<%= quset.ID %>" value="Yes" />
												<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_N<%= quset.ID %>" value="No" />
												<label for="radYesNo_N<%= quset.ID %>">No</label>

												<% elsif(@reviewAnswers[quset.ID - 1].IsYes == "No") %>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_Y<%= quset.ID %>" value="Yes" />
												<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
												<input type="radio" checked="checked" name="radYesNo<%= quset.ID %>" id="radYesNo_N<%= quset.ID %>" value="No" />
												<label for="radYesNo_N<%= quset.ID %>">No</label>

												<% else %>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_Y<%= quset.ID %>" value="Yes" />
												<label for="radYesNo_Y<%= quset.ID %>">Yes</label>
												<input type="radio" name="radYesNo<%= quset.ID %>" id="radYesNo_N<%= quset.ID %>" value="No" />
												<label for="radYesNo_N<%= quset.ID %>">No</label>
												<% end %>
												<% end %>
											</div>
											<div class="question-comment">
												<textarea id="quesComment<%= quset.ID %>" class="comment-area" rows="5" cols="45" name="quesComment<%= quset.ID %>"><%= @reviewAnswers[quset.ID - 1].Comments %></textarea>
											</div>
										</div>
									</div>
								</div>
								<% j = j + 1 %>
								<% end %>
								<% end %>
								<br />
								<br />
								<div class="review-submit-bt">
									<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= @firstName %>" />
									<input type="hidden" name="hidLastName" id="hidLastName" placeholder="Last Name" value="<%= @lastName %>" />
									<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" placeholder="Street Address" value="<%= @streetAddress %>" />
									<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City, State" value="<%= @citystateVal %>" />
									<input type="hidden" name="hidZipCode" id="hidZipCode" placeholder="Zipcode" value="<%= @zipCode %>" />
									<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" placeholder="Phone Number" value="<%= @phoneNumber %>" />
									<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= @reviewID %>" />
									<input type="submit" name="Submit" id="Submit" value="Update" class="org-bt" />
								</div>
							</div>
						</form>
						<div>
						<div class="review-bt">
							<button id="btnContinue" class="org-bt" onclick="ShowHideDiv('General');" >
								Continue
							</button>
							
							<button id="btnBack" class="org-bt" style="display:none" onclick="ShowHideDiv('Detailed');" >
								Back
							</button>
						</div>
						</div>
						<% end %>
					</div>

				</div>

				<%= render partial: "/layouts/footer" %>

			</div>
	</body>
</html>
