<!DOCTYPE html>
<html>
	<head>
				
	</head>
	<body>
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">
					<div class="review-block-wrapper">
					<div class="page-heading">
						Manage Site Content
						<div style="float:right;">
								<form id="getSelectedReview" action="<%= sitecontent_ManageFAQPage_url %>" method="post">
								<input type="submit" name="Submit" id="Submit" value="GO BACK TO MANAGE FAQs" class="org-bt" />
								</form>	
							</div>
					</div>
						
						<div id="singup-form-area">
							<div class="singup-form-heading">
								<h1>Edit FAQ's</h1>
								<div id="Error">
									<%= @messageString %>
								</div>
							</div>

							<div class="singup-form">
								<div id="SignupForm">
									<form action="<%= sitecontent_AddUpdateFAQPage_url %>" method="post">
										
										<div class="singup-textarea">
											<div class="label">Question</div>
											<input type="text" name="textQuestion" id="textQuestion" required="true" class="singup-textbox-large" value="<%= @question %>" />
										</div>
										<div class="singup-textarea">
											<div class="label">Answer</div>
											<textarea id="textAnswer" name="textAnswer" rows="10" cols="103"><%= @answer %></textarea>
										</div>
										
										<div style="width:100px">&nbsp;</div>	
													
										<div class="singup-textarea">
											<input type="hidden" name="hidFAQID" id="hidFAQID" value="<%= @faqID %>" />
										<input type="submit" name="Submit" id="Submit" value="Save" class="org-bt" />
										</div>
									</form>
									<div class="singup-textarea">
									<form action="<%= sitecontent_EnableDisableFAQ_url %>" method="post">
										<% if(@faq.IsEnabled) %>
											<input type="hidden" name="hidFAQID" id="hidFAQID" value="<%= @faqID %>" />
											<input type="hidden" id="hidEnable" name="hidEnable" value="0" />
											<input type="submit" name="Submit" id="Submit" value="Disable" onclick="return confirm_activation('0');" class="org-bt" />
										<% else %>
											<input type="hidden" name="hidFAQID" id="hidFAQID" value="<%= @faqID %>" />
											<input type="hidden" id="hidEnable" name="hidEnable" value="1" />
											<input type="submit" name="Submit" id="Submit" value="Enable" onclick="return confirm_activation('1');" class="org-bt" />
										<% end %>
									</form>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
