<!DOCTYPE html>
<html>
<head>
	<title>NicksList - Search Customer</title>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script>
		$(function(){
			$('#infinite-scroll').jscroll({
				loadingHtml : '<div style="width:100%;float:left;padding:25px 0px 35px 400px;"><img src="../assets/loading.gif" alt="Loading" /> Loading...</div>', // The HTML to show at the bottom of the content while loading the next set.
				padding : 20, // The distance from the bottom of the scrollable content at which to trigger the loading of the next set of content.
				//nextSelector: 'a.jscroll-next:last', // The selector to use for finding the link which contains the href pointing to the next set of content.
				contentSelector: '.review-block' // A convenience selector for loading only part of the content in the response for the next set of content.
			});
		})
			
		</script>
		
</head>
<body>
<div id="wrapper">
	<%= render partial: "/layouts/header" %>
    <div id="main-content-wrapper">
    	
    	<div class="browser-center">
        	<div id="record-search">
            	<div class="search-record-left">
                	<div class="address-area">
                    	<div class="customer-name"><%= params[:txtFirstName] %> <%= params[:txtLastName] %></div>
                        <div class="address-detail"><%= params[:txtStreetAddress]  %><br />
							<%= params[:selectCity]  %> <%= params[:txtZipCode]  %></div>
                        <div class="address-phone"><%= params[:txtPhoneNumber]  %></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="home-details-area">
                    	<% if(@taxAssessmentYear.present? or @taxAssessment.present? or @yearBuilt.present? or @lotSizeSqFt.present? or @finishedSqFt.present? or @bathrooms.present? or @bedrooms.present? or @lastSoldPrice.present?) %>
                    <div class="Home-Details-Title">Home Details</div>
                    <% end %>
                    <div class="Home-Details-Item">&nbsp;</div><div class="Home-Details-Value">&nbsp;</div>
                    <% if(@taxAssessmentYear.present?) %>
                    <div class="Home-Details-Item">Tax Assesment Year </div><div class="Home-Details-Value">: <%= @taxAssessmentYear %></div>
                    <% end %>
                    <% if(@taxAssessment.present?) %>
                    <div class="Home-Details-Item">Tax Assesment </div><div class="Home-Details-Value">: <%= @taxAssessment %></div>
                    <% end %>
                    <% if(@yearBuilt.present?) %>
                    <div class="Home-Details-Item">Year Built </div><div class="Home-Details-Value">: <%= @yearBuilt %></div>
                    <% end %>
                    <% if(@lotSizeSqFt.present?) %>
                    <div class="Home-Details-Item">Lot </div><div class="Home-Details-Value">: <%= @lotSizeSqFt %>sqft</div>
                    <% end %>
                    <% if(@finishedSqFt.present?) %>
                    <div class="Home-Details-Item">Finished </div><div class="Home-Details-Value">: <%= @finishedSqFt %>sqft</div>
                    <% end %>
                    <% if(@bathrooms.present?) %>
                    <div class="Home-Details-Item">Bathrooms </div><div class="Home-Details-Value">: <%= @bathrooms %> Baths</div>
                    <% end %>
                    <% if(@bedrooms.present?) %>
                    <div class="Home-Details-Item">Bedrooms </div><div class="Home-Details-Value">: <%= @bedrooms %> Beds</div>
                    <% end %>
                    <% if(@lastSoldPrice.present?) %>
                    <div class="Home-Details-Item">Last Sold </div><div class="Home-Details-Value">: <%= @lastSoldDate %> for <%= @lastSoldPrice %></div>
                   	<% end %>
                    </div>
                  	
                    <div class="read-review">
							<% if @reviewer.blank? %>
							<% if(@ChkTermsConditions == 1) %>
							<form action="<%= review_customers_TermsConditions_url %>" method="post">
							<% else %>
							<form action="<%= review_customers_AddReviews_url %>" method="post">
							<% end %>	
								<h1>This customer is not reviewed yet!</h1>
								<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= params[:txtFirstName] %>" />
								<input type="hidden" name="hidLastName" id="hidLastName" placeholder="Last Name" value="<%= params[:txtLastName] %>" />
								<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" placeholder="Street Address" value="<%= params[:txtStreetAddress] %>" />
								<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City, State" value="<%= params[:selectCity] %>" />
								<input type="hidden" name="hidZipCode" id="hidZipCode" placeholder="Zipcode" value="<%= params[:txtZipCode] %>" />
								<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" placeholder="Phone Number" value="<%= params[:txtPhoneNumber] %>" />
								<input type="hidden" name="hidRedirectUrl" id="hidRedirectUrl" value="<%= review_customers_AddReviews_url %>" />
								<input type="hidden" name="hidDetailPage" id="hidDetailPage" value="1" />
								<input type="submit" class="org-bt" name="btnAddReview" id="btnAddReview" value="CLICK HERE TO ADD REVIEW" />
							</form>	
							<% else %>
							<h1> <%= params[:txtFirstName] %> <%= params[:txtLastName] %>
								<% if(@reviewCount.to_i == 1) %>
								has <%= @reviewCount.to_i %> review available
								<% else %>
								has <%= @reviewCount.to_i %> reviews available
								<% end %> </h1>
							
							<% if(@isUser.blank? && @isUser.length == 0) %>
							
							<% if(@ChkTermsConditions == 1) %>
							<form action="<%= review_customers_TermsConditions_url %>" method="post">
							<% else %>
							<form action="<%= review_customers_AddReviews_url %>" method="post">
							<% end %>	
								<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= params[:txtFirstName] %>" />
								<input type="hidden" name="hidLastName" id="hidLastName" placeholder="Last Name" value="<%= params[:txtLastName] %>" />
								<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" placeholder="Street Address" value="<%= params[:txtStreetAddress] %>" />
								<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City, State" value="<%= params[:selectCity] %>" />
								<input type="hidden" name="hidZipCode" id="hidZipCode" placeholder="Zipcode" value="<%= params[:txtZipCode] %>" />
								<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" placeholder="Phone Number" value="<%= params[:txtPhoneNumber] %>" />
								<input type="hidden" name="hidReviewCount" id="hidReviewCount" value="<%= @reviewCount %>" />
								<input type="hidden" name="hidRedirectUrl" id="hidRedirectUrl" value="<%= review_customers_AddReviews_url %>" />
								<input type="hidden" name="hidDetailPage" id="hidDetailPage" value="1" />
								<input type="submit" class="org-bt" name="btnAddReview" id="btnAddReview" value="ADD REVIEW" />
							</form>
							
							<% else %>
							
							<% if(@ChkTermsConditions == 1) %>
							<form action="<%= review_customers_TermsConditions_url %>" method="post">
							<% else %>
							<form action="<%= review_customers_UpdateReviews_url %>" method="post">
							<% end %>	
								<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= @firstName %>" />
								<input type="hidden" name="hidLastName" id="hidLastName" placeholder="Last Name" value="<%= @lastName %>" />
								<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" placeholder="Street Address" value="<%= @streetAddress %>" />
								<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City, State" value="<%= @citystateVal %>" />
								<input type="hidden" name="hidZipCode" id="hidZipCode" placeholder="Zipcode" value="<%= @zipCode %>" />
								<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" placeholder="Phone Number" value="<%= @phoneNumber %>" />
								<input type="hidden" name="hidReviewerID" id="hidReviewerID" value="<%= @reviewerID %>" />
								<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= @reviewID %>" />
								<input type="hidden" name="hidReviewCount" id="hidReviewCount" value="<%= @reviewCount %>" />
								<input type="hidden" name="hidRedirectUrl" id="hidRedirectUrl" value="<%= review_customers_UpdateReviews_url %>" />
								<input type="hidden" name="hidDetailPage" id="hidDetailPage" value="1" />
								<input type="submit" class="org-bt" name="btnAddReview" id="btnAddReview" value="UPDATE REVIEW" />
							</form>
							
							<% end %>

							<% end %>

							<div style="width:900px; float:left">&nbsp;</div>
							
					<% if(!@reviewer.blank?) %>
					<div id="infinite-scroll" class="scroll" data-ui="jscroll-default">
					
					<div class="review-block-wrapper">
					
					<% i = 1 %>
					<% @reviewer.each do |r| %>
					<div class="review-block">
						<div class="customer-block">
                    		<div class="customer-photo">
                        		<div class="serial-number"><%= sprintf('%02d', i) %></div>
                        	</div>
                        <div class="customer-detail">
                        	<div class="customer-name-desc">
                            	<h1><%= r.DateCreated.strftime('%e %B, %Y') %></h1>
                            </div>
                        </div>
                    	</div>
						
						<div class="review-area">
							<div class="read-review-bt">
								<% if(@ChkTermsConditions == 1) %>
								<form action="<%= review_customers_TermsConditions_url %>" method="post">
									<input type="hidden" name="hidRedirectUrl" id="hidRedirectUrl" value="<%= review_customers_ReadReviews_url %>" />
								<% else %>
								<form action="<%= review_customers_ReadReviews_url %>" method="post">
								<% end %>
									<input type="hidden" name="hidFirstName" id="hidFirstName" value="<%= @firstName %>" />
									<input type="hidden" name="hidLastName" id="hidLastName" placeholder="Last Name" value="<%= @lastName %>" />
									<input type="hidden" name="hidStreetAddress" id="hidStreetAddress" placeholder="Street Address" value="<%= @streetAddress %>" />
									<input type="hidden" name="hidselectCity" id="hidselectCity" placeholder="City, State" value="<%= @citystateVal %>" />
									<input type="hidden" name="hidZipCode" id="hidZipCode" placeholder="Zipcode" value="<%= @zipCode %>" />
									<input type="hidden" name="hidPhoneNumber" id="hidPhoneNumber" placeholder="Phone Number" value="<%= @phoneNumber %>" />
									<input type="hidden" name="hidReviewerID" id="hidReviewerID" value="<%= r.ID %>" />
									<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= r.ReviewID %>" />
									<input type="hidden" name="hidCurrentIndex" id="hidCurrentIndex" value="<%= i %>" />
									<input type="hidden" name="hidReviewCount" id="hidReviewCount" value="<%= @reviewCount %>" />
									<input type="submit" name="Submit" id="Submit" value="Read Review" class="reivew-blue-bt" />
								</form>
							</div>
						</div>
					</div>
					<% i = i + 1 %>
					<% end %>
					
				</div>
					<div style="float:left;">
						<a href="<%= customer_search_LoadReviews_url %>">next</a>
					</div>
				</div>

				<% end %>
						</div>
					</div>
					
					

           
                <% if(@latitude.blank? && @longitude.blank?) %>
                	<div class="search-record-right"> 
                	We were not able to locate the address:
                	<br />
                	<b><%= params[:txtStreetAddress]  %> <%= params[:selectCity]  %> <%= params[:txtZipCode]  %></b>
                	</div>
                <% else %>
                	<div class="search-record-right" id="map"></div>
                <% end %>
                <!--<div class="search-record-right" id="map"></div>
                <%= gmaps4rails(@classifieds) %>-->
            </div>

			<div id="latest-news">
            	<div class="news-heading">Latest News and Updates</div>
                <div class="news-point">
                	<ul class="bxslider">
                    	<li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</li>
                        <li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</li>
                        <li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</li>
                    </ul>
                    
                </div>
            </div>

        </div> 
        </div>
    
    <%= render partial: "/layouts/footer" %>
</div>

<script type="text/javascript">
  // Create the map
  var map = new google.maps.Map(document.getElementById("map"), {
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // Initialize the bounds container
  var bounds = new google.maps.LatLngBounds();


    // Create the LatLng
    var latLng = new google.maps.LatLng(<%= @latitude %>, <%= @longitude %>);

    // Create the marker
    var marker = new google.maps.Marker({
        position: latLng,
        map: map,
       	title: "<%= @address %>"
    });

    

    // Extend the bounds
    bounds.extend(latLng);
    
  // Fit to bounds
  map.fitBounds(bounds);
  zoomChangeBoundsListener = 
    google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
        if (this.getZoom()){
            this.setZoom(16);
        }
});
</script>
<!--<%= yield :scripts %>-->
</body>
</html>