<!DOCTYPE html>
<html>
	<head>
		<title>NicksList - User Registration</title>
		<script>
			function SignupForm_visibility() {
				var idSignupCode = document.getElementById('SignupCode');
				var idSignupReadOnlyCode = document.getElementById('SignupReadOnlyCode');
				var idSignupForm = document.getElementById('SignupForm');
				if (document.getElementById('chkCode').checked) {
					idSignupCode.style.display = 'block';
					idSignupReadOnlyCode.style.display = 'none';
					idSignupForm.style.display = 'none';
				} else {
					idSignupCode.style.display = 'none';
					idSignupReadOnlyCode.style.display = 'none';
					idSignupForm.style.display = 'block';

					document.getElementById('chkAddress').checked = false;
					document.getElementById('chkAddress').disabled = false;
					document.getElementById('textCompany').value = '';
					document.getElementById('textCompany').readOnly = false;
					document.getElementById('textFirstName').value = '';
					document.getElementById('textFirstName').readOnly = false;
					document.getElementById('textLastName').value = '';
					document.getElementById('textLastName').readOnly = false;
					document.getElementById('textIncorporationType').value = '';
					document.getElementById('textIncorporationType').readOnly = false;
					document.getElementById('textBussStreetAddress').value = '';
					document.getElementById('textBussStreetAddress').readOnly = false;
					document.getElementById('textBussCity').value = '';
					document.getElementById('textBussCity').readOnly = false;
					//document.getElementById('textBussState').value= '';
					//document.getElementById('textBussState').readOnly = false;
					document.getElementById('textBussZipCode').value = '';
					document.getElementById('textBussZipCode').readOnly = false;
					document.getElementById('textMailStreetAddress').value = '';
					document.getElementById('textMailStreetAddress').readOnly = false;
					document.getElementById('textMailCity').value = '';
					document.getElementById('textMailCity').readOnly = false;
					//document.getElementById('textMailState').value= '';
					//document.getElementById('textMailState').readOnly = false;
					document.getElementById('textMailZipCode').value = '';
					document.getElementById('textMailZipCode').readOnly = false;
					document.getElementById('textEmail').value = '';
					document.getElementById('textEmail').readOnly = false;
					document.getElementById('textConfirmEmail').value = '';
					document.getElementById('textConfirmEmail').readOnly = false;
					document.getElementById('textPhoneNumber').value = '';
					document.getElementById('textPhoneNumber').readOnly = false;
					document.getElementById('textLicense').value = '';
					document.getElementById('textLicense').readOnly = false;
					document.getElementById('textUserName').value = '';
					document.getElementById('textUserName').readOnly = false;
					document.getElementById('textPassword').value = '';
					document.getElementById('textPassword').readOnly = false;
					document.getElementById('textConfirmPassword').value = '';
					document.getElementById('textConfirmPassword').readOnly = false;
				}
			}

			function Change_CheckCode() {
				document.getElementById('SignupCode').style.display = 'block';
				document.getElementById('SignupReadOnlyCode').style.display = 'none';
				document.getElementById('SignupForm').style.display = 'none';
				document.getElementById('chkCode').disabled = false;

				document.getElementById('textCode').value = '';
				document.getElementById('textCompany').value = '';
				document.getElementById('textIncorporationType').value = '';
				document.getElementById('textBussStreetAddress').value = '';
				document.getElementById('textBussCity').value = '';
				//document.getElementById('textBussState').value= '';
				document.getElementById('textBussZipCode').value = '';
				document.getElementById('textMailStreetAddress').value = '';
				document.getElementById('textMailCity').value = '';
				//document.getElementById('textMailState').value= '';
				document.getElementById('textMailZipCode').value = '';
				document.getElementById('textPhoneNumber').value = '';
				document.getElementById('textLicense').value = '';
			}

			function check_chkAddress(chk) {
				var idSignupCode = document.getElementById('SignupCode');
				var idSignupReadOnlyCode = document.getElementById('SignupReadOnlyCode');
				var idSignupForm = document.getElementById('SignupForm');
				if (chk.checked) {
					document.getElementById('textMailStreetAddress').value = document.getElementById('textBussStreetAddress').value;
					document.getElementById('textMailStreetAddress').readOnly = true;
					document.getElementById('textMailCity').value = document.getElementById('textBussCity').value;
					document.getElementById('textMailCity').readOnly = true;
					//document.getElementById('textMailState').value= document.getElementById('textBussState').value;
					//document.getElementById('textMailState').readOnly= true;
					document.getElementById('textMailZipCode').value = document.getElementById('textBussZipCode').value;
					document.getElementById('textMailZipCode').readOnly = true;
				} else {
					document.getElementById('textMailStreetAddress').value = '';
					document.getElementById('textMailStreetAddress').readOnly = false;
					document.getElementById('textMailCity').value = '';
					document.getElementById('textMailCity').readOnly = false;
					//document.getElementById('textMailState').value= '';
					//document.getElementById('textMailState').readOnly= false;
					document.getElementById('textMailZipCode').value = '';
					document.getElementById('textMailZipCode').readOnly = false;
				}
			}

			function SignupForm_AuthUser(authCode, companyName, incorporationType, bussStreetAddress, bussCity, bussState, bussZipCode, mailStreetAddress, mailCity, mailState, mailZipCode, phoneNumber, email, license) {
				var idSignupCode = document.getElementById('SignupCode');
				var idSignupReadOnlyCode = document.getElementById('SignupReadOnlyCode');
				var idSignupForm = document.getElementById('SignupForm');

				if (authCode != '') {
					idSignupCode.style.display = 'none';
					idSignupReadOnlyCode.style.display = 'block';
					idSignupForm.style.display = 'block';

					document.getElementById('chkCode').checked = true;
					document.getElementById('chkCode').disabled = true;
					document.getElementById('textFilledCode').value = authCode;
					document.getElementById('hiddenFilledCode').value = authCode;
					document.getElementById('textFilledCode').readOnly = true;
					document.getElementById('textCompany').value = companyName;
					document.getElementById('textCompany').readOnly = true;
					document.getElementById('textIncorporationType').value = incorporationType;
					document.getElementById('textIncorporationType').readOnly = true;
					document.getElementById('textBussStreetAddress').value = bussStreetAddress;
					document.getElementById('textBussStreetAddress').readOnly = true;
					document.getElementById('textBussCity').value = bussCity;
					document.getElementById('textBussCity').readOnly = true;
					//document.getElementById('textBussState').value= bussState;
					//document.getElementById('textBussState').readOnly = true;
					document.getElementById('textBussZipCode').value = bussZipCode;
					document.getElementById('textBussZipCode').readOnly = true;
					document.getElementById('textMailStreetAddress').value = mailStreetAddress;
					document.getElementById('textMailStreetAddress').readOnly = true;
					document.getElementById('textMailCity').value = mailCity;
					document.getElementById('textMailCity').readOnly = true;
					//document.getElementById('textMailState').value= mailState;
					//document.getElementById('textMailState').readOnly = true;
					document.getElementById('textMailZipCode').value = mailZipCode;
					document.getElementById('textMailZipCode').readOnly = true;
					document.getElementById('textPhoneNumber').value = phoneNumber;
					document.getElementById('textPhoneNumber').readOnly = true;
					document.getElementById('textLicense').value = license;
					document.getElementById('textLicense').readOnly = true;

					if (bussStreetAddress == mailStreetAddress && bussCity == mailCity && bussZipCode == mailZipCode) {
						document.getElementById('chkAddress').checked = true;
					} else {
						document.getElementById('chkAddress').checked = false;
					}
					document.getElementById('chkAddress').disabled = true;
				} else {
					idSignupCode.style.display = 'none';
					idSignupReadOnlyCode.style.display = 'none';
					idSignupForm.style.display = 'block';
				}
			}
		</script>
	</head>
	<body onload="SignupForm_AuthUser('<%= @userauthCode %>', '<%= @usercompanyName %>', '<%= @userincorporationType %>', '<%= @userbussStreetAddress %>', '<%= @userbussCity %>', '<%= @userbussState %>', '<%= @userbussZipCode %>', '<%= @usermailStreetAddress %>', '<%= @usermailCity %>', '<%= @usermailState %>', '<%= @usermailZipCode %>', '<%= @userphoneNumber %>', '<%= @useremail %>', '<%= @userlicense %>'); <% if(!@error.blank?)%> SignupForm_visibility(); <% end %>">
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">
					<div id="signup-wrapper">
						<div id="signup-header">
							<h1>Register with us</h1>
							<h2>Sign-up in just a few easy steps</h2>
						</div>
						<!--<div class="steps"><%= image_tag("step1.jpg", :alt => "") %></div>-->

						<div id="singup-form-area">
							<div class="singup-form-heading">
								<h1>Create Your Account</h1>
								<p>
									Fill the basic information below to create your account
								</p>
								<div id="Error">
									<%= @messageString %>
								</div>
							</div>

							<div class="singup-form">
								<div id="chkCodeBox">
									<input type="checkbox" id="chkCode" name="chkCode" onclick="SignupForm_visibility();" value="1" />
									<label for="chkCode">I have company authorization code. </label>
								</div>
								<div id="SignupCode">
									<form action="/user_registeration/GetRegister" method="post">
										<div class="singup-textarea">
											<input type="text" name="textCode" id="textCode" required="true" class="singup-textbox-small" placeholder="Authorization Code" />
										</div>
										<div class="singup-textarea">
											<input type="submit" name="Submit" id="Submit" value="Submit" class="org-bt" />
										</div>
									</form>
								</div>
								<div id="SignupReadOnlyCode">
									<div class="singup-textarea">
										<input type="text" name="textFilledCode" required="true" id="textFilledCode" class="singup-textbox-small"  placeholder="Authorization Code" />
									</div>
									<div class="singup-textarea">
										<a href="#" onclick="Change_CheckCode();">Change Authorization Code</a>
									</div>
								</div>
								<div id="SignupForm">
									<form action="/user_registeration/GetRegister" method="post">
										<input type="hidden" id="hiddenFilledCode" name="hiddenFilledCode" />
										<div class="singup-textarea">
											<input type="text" name="textCompany" id="textCompany" required="true" class="singup-textbox"  placeholder="Name of Company" value="<%= params[:textCompany] %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textFirstName" id="textFirstName" required="true" class="singup-textbox-small"  placeholder="First Name" value="<%= params[:textFirstName] %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textLastName" id="textLastName" required="true" class="singup-textbox-small"  placeholder="Last Name" value="<%= params[:textLastName] %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textIncorporationType" id="textIncorporationType" required="true" class="singup-textbox"  placeholder="Type of Incorporation" value="<%= params[:textIncorporationType] %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textBussStreetAddress" required="true" id="textBussStreetAddress" class="singup-textbox"  placeholder="Business Street Address" value="<%= params[:textBussStreetAddress] %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textBussZipCode" id="textBussZipCode" required="true" class="singup-textbox-small"  placeholder="ZipCode" value="<%= params[:textBussZipCode] %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textBussCity" id="textBussCity" required="true" class="singup-textbox-small"  placeholder="City, State" value="<%= params[:textBussCity] %>" />
										</div>
										<!--<div class="singup-textarea">
										<input type="text" name="textBussState" id="textBussState" required="true" class="singup-textbox-small"  placeholder="State" value="<%= params[:textBussState] %>" />
										</div>-->

										<div class="singup-textarea">
											<input type="checkbox" id="chkAddress" name="chkAddress" value="1" onclick="check_chkAddress(this);" />
											<label for="chkAddress">Use Business Address as Mailing Address.</label>
										</div>
										<div class="singup-textarea">
											<input type="text" name="textMailStreetAddress" id="textMailStreetAddress" required="true" class="singup-textbox"  placeholder="Mailing Street Address" value="<%= params[:textMailStreetAddress] %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textMailZipCode" id="textMailZipCode" required="true" class="singup-textbox-small"  placeholder="ZipCode" value="<%= params[:textMailZipCode] %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textMailCity" id="textMailCity" required="true" class="singup-textbox-small"  placeholder="City, State" value="<%= params[:textMailCity] %>" />
										</div>
										<!--<div class="singup-textarea">
										<input type="text" name="textMailState" id="textMailState" required="true" class="singup-textbox-small"  placeholder="State" value="<%= params[:textMailState] %>" />
										</div>-->

										<div class="singup-textarea">
											<input type="text" name="textPhoneNumber" id="textPhoneNumber" required="true" class="singup-textbox-small"  placeholder="Phone Number" value="<%= params[:textPhoneNumber] %>" />
										</div>
										<div class="singup-textarea">
											<input type="email" name="textEmail" id="textEmail" required="true" class="singup-textbox-small"  placeholder="Email Address" value="<%= params[:textEmail] %>" />
										</div>
										<!--<div class="singup-textarea">
										<input type="email"  name="textConfirmEmail" id="textConfirmEmail" required="true" class="singup-textbox-small"  placeholder="Confirm Email Address" value="<%= params[:textConfirmEmail] %>" />
										</div>-->
										<div class="singup-textarea">
											<input type="text" name="textLicense" id="textLicense" required="true" class="singup-textbox-small"  placeholder="Contractor License Number" value="<%= params[:textLicense] %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textUserName" id="textUserName" required="true" class="singup-textbox-small"  placeholder="User Name" value="<%= params[:textUserName] %>" />
										</div>
										<div class="singup-textarea">
											<input type="password" name="textPassword" id="textPassword" required="true" onchange="form.textConfirmPassword.pattern = this.value;" class="singup-textbox-small"  placeholder="Password" />
										</div>
										<div class="singup-textarea">
											<input type="password"  name="textConfirmPassword" id="textConfirmPassword" required="true" class="singup-textbox-small"  placeholder="Confirm Password" />
										</div>
										<div class="singup-textarea">
											<input type="submit" name="Submit" id="Submit" value="Save & Continue" class="org-bt" />
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
