<!DOCTYPE html>
<html>
<head>
	<title>NicksList - User Registration</title>
	
</head>
<body>
	<div id="wrapper">
	<%= render partial: "/layouts/header" %>
	
    <div id="main-content-wrapper">
    	<div class="browser-center">
        	<div id="signup-wrapper">
               <div id="signup-header">
                  <h1>Register with us</h1>
                  <h2>Sign-up in just a few easy steps</h2>
                  
               </div>
               <!--<div class="steps"><%= image_tag("step1.jpg", :alt => "") %></div>-->
               <div class="steps" style="font-size: 14px">Auth Code:<%= @keyCode %></div>
               <div id="singup-form-area">
               		<div class="singup-form-heading">
                    	<h1>Confirm Subscription</h1>
                        <p>Please review the following details and confirm subscription.</p>
                        <div id="Error"><%= @messageString %></div>        
                    </div>
                    
               		<div class="singup-form">              			
               			<div id="SignupForm">
               			<form action="<%= authorize_payment_payment_url %>" method="post">
                    	<div>
                    	  <div class="subscription-Item">Company Name : </div><div class="subscription-Value"><%= @usercompanyName %></div>
                    	  <input type="hidden" id="hidCompanyName" name="hidCompanyName" value="<%= @usercompanyName %>" />
                    	</div>
                        <div>
                    	  <div class="subscription-Item">First Name : </div><div class="subscription-Value"><%= @userfirstName %></div>
                    	  <input type="hidden" id="hidFirstName" name="hidFirstName" value="<%= @userfirstName %>" />
                        </div>
                        <div>
                          <div class="subscription-Item">Last Name : </div><div class="subscription-Value"><%= @userlastName %></div>
                        <input type="hidden" id="hidLastName" name="hidLastName" value="<%= @userlastName %>" />
                    	</div>
                        <div>
						  <div class="subscription-Item">Incorporation Type : </div><div class="subscription-Value"><%= @userincorporationType %></div>
                        
                    	</div>
                    	<div>
                    	  <div class="subscription-Item">Phone Number : </div><div class="subscription-Value"><%= @userphoneNumber %></div>
                        	<input type="hidden" id="hidPhoneNumber" name="hidPhoneNumber" value="<%= @userphoneNumber %>" />
                    	</div>
                        <div>
                    	  <div class="subscription-Item">Email ID : </div><div class="subscription-Value"><%= @useremail %></div>
                        	<input type="hidden" id="hidEmail" name="hidEmail" value="<%= @useremail %>" />
                          </div>
                        <div>
                    	  <div class="subscription-Item">License Number : </div><div class="subscription-Value"><%= @userlicense %></div>
                        
                    	</div>
                    	<div class="subscription-Title">Business Address</div>
                    	<input type="hidden" id="hidPrice" name="hidPrice" value="<%= @price %>" />
                    	<div>
                    	  <div class="subscription-Item">Street Address : </div><div class="subscription-Value"><%= @userbussStreetAddress %></div>
                        <input type="hidden" id="hidStreetAddress" name="hidStreetAddress" value="<%= @userbussStreetAddress %>" />
                    	</div>
                    	<div>
                    	  <div class="subscription-Item">City : </div><div class="subscription-Value"><%= @userbussCity %></div>
                        <input type="hidden" id="hidCity" name="hidCity" value="<%= @userbussCity %>" />
                    	</div>
                    	<div>
                    	  
                    	  <div class="subscription-Item">State : </div><div class="subscription-Value"><%= @userbussState %></div>
                        <input type="hidden" id="hidState" name="hidState" value="<%= @userbussState %>" />
                    	</div>
                        <div>
                    	  <div class="subscription-Item">Zip Code: </div><div class="subscription-Value"><%= @userbussZipCode %></div>
                        <input type="hidden" id="hidZipCode" name="hidZipCode" value="<%= @userbussZipCode %>" />
                    	</div>
                    	<div class="subscription-Title">Mailing Address</div>
                    	
                        
                        <div>
                    	  <div class="subscription-Item">Street Address : </div><div class="subscription-Value"><%= @usermailStreetAddress %></div>
                        
                    	</div>
                    	<div>
                    	  <div class="subscription-Item">City : </div><div class="subscription-Value"><%= @usermailCity %></div>
                        
                    	</div>
                    	<div>
                    	  <div class="subscription-Item">State : </div><div class="subscription-Value"><%= @usermailState %></div>
                        
                    	</div>
                        <div>
                    	  <div class="subscription-Item">Zip Code : </div><div class="subscription-Value"><%= @usermailZipCode %></div>
                        
                    	</div>
                    	<div class="subscription-Title">Subscription Price</div>
                    	
                        
                    	<div>
                    	  <div class="subscription-Item">Price : </div><div class="subscription-Value"><%= @price%></div>
							<input type="hidden" id="hidPrice" name="hidPrice" value="<%= @price %>" />
                          <br />
                    	</div>
                        <div class="singup-textarea">
                        	<input type="submit" name="Submit" id="Submit" value="Confirm & Continue" class="org-bt" />
                        </div>
                        </form>
                        </div>
                    </div>
               </div>
               
             </div>
        </div>
    </div>
    
   <%= render partial: "/layouts/footer" %>
    
</div>
</body>
</html>
