<!DOCTYPE html>
<html>
	<head>
		<script>
			function check_chkAddress(chk) {
				var idSignupCode = document.getElementById('SignupCode');
				var idSignupReadOnlyCode = document.getElementById('SignupReadOnlyCode');
				var idSignupForm = document.getElementById('SignupForm');
				if (chk.checked) {
					document.getElementById('textMailStreetAddress').value = document.getElementById('textBussStreetAddress').value;
					document.getElementById('textMailStreetAddress').readOnly = true;
					document.getElementById('textMailCity').value = document.getElementById('textBussCity').value;
					document.getElementById('textMailCity').readOnly = true;
					//document.getElementById('textMailState').value= document.getElementById('textBussState').value;
					//document.getElementById('textMailState').readOnly= true;
					document.getElementById('textMailZipCode').value = document.getElementById('textBussZipCode').value;
					document.getElementById('textMailZipCode').readOnly = true;
				} else {
					document.getElementById('textMailStreetAddress').value = '';
					document.getElementById('textMailStreetAddress').readOnly = false;
					document.getElementById('textMailCity').value = '';
					document.getElementById('textMailCity').readOnly = false;
					//document.getElementById('textMailState').value= '';
					//document.getElementById('textMailState').readOnly= false;
					document.getElementById('textMailZipCode').value = '';
					document.getElementById('textMailZipCode').readOnly = false;
				}
			}
			
			function SignupForm_AuthUser(authCode, bussStreetAddress, bussCity, bussZipCode, mailStreetAddress, mailCity, mailZipCode, error) {
				var idSignupCode = document.getElementById('SignupCode');
				var idSignupReadOnlyCode = document.getElementById('SignupReadOnlyCode');
				var idSignupForm = document.getElementById('SignupForm');
				if(authCode != "" && error != '1'){
					document.getElementById('textCode').disabled = true;
					document.getElementById('textCompany').readOnly = true;
					document.getElementById('textIncorporationType').readOnly = true;
					document.getElementById('textBussStreetAddress').readOnly = true;
					document.getElementById('textBussCity').readOnly = true;
					document.getElementById('textBussZipCode').readOnly = true;
					document.getElementById('textMailStreetAddress').readOnly = true;
					document.getElementById('textMailCity').readOnly = true;
					document.getElementById('textMailZipCode').readOnly = true;
					document.getElementById('textPhoneNumber').readOnly = true;
					document.getElementById('textLicense').readOnly = true;
				
					if(bussStreetAddress != '' && bussCity != '' && bussZipCode != '')
					{
						if (bussStreetAddress == mailStreetAddress && bussCity == mailCity && bussZipCode == mailZipCode) {
							document.getElementById('chkAddress').checked = true;
						} else {
							document.getElementById('chkAddress').checked = false;
						}
					}
					document.getElementById('chkAddress').disabled = true;
				} 
			}
		</script>		
	</head>
	<body onload="SignupForm_AuthUser('<%= @authCode %>', '<%= params[:textBussStreetAddress] %>', '<%= params[:textBussCity] %>', '<%= params[:textBussZipCode] %>', '<%= params[:textMailStreetAddress] %>', '<%= params[:textMailCity] %>', '<%= params[:textMailZipCode] %>', '<%= @error %>');">
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">
					<div class="review-block-wrapper">
					<div class="page-heading">
						Manage Users
						<div style="float:right;">
								<form id="getSelectedReview" action="<%= users_ManageUsers_url %>" method="post">
								<input type="submit" name="Submit" id="Submit" value="GO BACK TO MANAGE USERS ACCOUNT" class="org-bt" />
								</form>	
							</div>
					</div>
						
						<div id="singup-form-area">
							<div class="singup-form-heading">
								<h1>
									<div>Create User Account</div>
									<% if(@messageString != nil) %>
									<div id="messageDiv" class="error">
									<%= @messageString %>
									</div>
									<% end %>
								</h1>
							</div>

							<div class="singup-form">
								<div id="chkCodeBox">
									<form action="<%= users_AddUser_url %>" method="post">
										<div class="singup-textarea">
											<b>Use Authorization Code (If provided to User)</b>
											<input type="text" name="textCode" id="textCode" value="<%= params[:textCode] %>" required="true" class="singup-textbox-small" placeholder="Authorization Code" pattern="^[0-9]+[0-9]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [12345678]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea" style="margin-top: -5px">
											<input type="submit" name="Submit" id="Submit" value="Submit" class="org-bt" />
										</div>
									</form>
									<% if(!@authCode.blank? && @error.to_i == 0)%>
									<div class="singup-textarea" style="margin-top: -5px">
										<form action="<%= users_AddUser_url %>" method="post">
											<input type="submit" name="Submit" id="Submit" value="Reset" class="org-bt" />
										</form>
									</div>
									<% end %>
								</div>
								
								<div class="clear">&nbsp;</div>
								<div style="border: 1px solid #e7e7e7;"></div>
								<div class="clear">&nbsp;</div>
								<div id="SignupForm">
									<form action="<%= users_AddUser_url %>" method="post">
										
										<div class="singup-textarea">
											<div class="label">Company Name</div>
											<input type="text" name="textCompany" id="textCompany" required="true" class="singup-textbox-small"  placeholder="Name of Company" value="<%= params[:textCompany] %>" maxlength="100" />
										</div>
										<div class="singup-textarea">
											<div class="label">First Name</div>
											<input type="text" name="textFirstName" id="textFirstName" required="true" class="singup-textbox-small"  placeholder="First Name" value="<%= params[:textFirstName] %>" maxlength="20" pattern="^[A-Za-z]+[A-Za-z]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Steve]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">Last Name</div>
											<input type="text" name="textLastName" id="textLastName" required="true" class="singup-textbox-small"  placeholder="Last Name" value="<%= params[:textLastName] %>" maxlength="20" pattern="^[A-Za-z]+[A-Za-z]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Steve]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">Incorporation Type</div>
											<input type="text" name="textIncorporationType" id="textIncorporationType" required="true" class="singup-textbox-small"  placeholder="Type of Incorporation" value="<%= params[:textIncorporationType] %>" maxlength="20" />
										</div>
										<div class="singup-textarea">
											<div class="label">Street Address</div>
											<input type="text" name="textBussStreetAddress" required="true" id="textBussStreetAddress" class="singup-textbox"  placeholder="Business Street Address" value="<%= params[:textBussStreetAddress] %>" maxlength="100" pattern="^[A-Za-z0-9 ,]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [11111, Street Address]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">Zip Code</div>
											<input type="text" name="textBussZipCode" id="textBussZipCode" required="true" class="singup-textbox-small"  placeholder="ZipCode" value="<%= params[:textBussZipCode] %>" maxlength="6" pattern="^[0-9]+[0-9]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [123456] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">City, State</div>
											<input type="text" name="textBussCity" id="textBussCity" required="true" class="singup-textbox-small"  placeholder="City, State" value="<%= params[:textBussCity] %>" maxlength="12" pattern="^[A-Za-z]+[ ]?[A-Za-z]+,[ ][A-Za-z]{2,2}$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle, WA] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input type="checkbox" id="chkAddress" name="chkAddress" value="1" onclick="check_chkAddress(this);" />
											<label class="label" for="chkAddress">Use Business Address as Mailing Address.</label>
										</div>
										<div style="width:300px">&nbsp;</div>
										<div class="singup-textarea">
											<div class="label">Street Address</div>
											<input type="text" name="textMailStreetAddress" id="textMailStreetAddress" required="true" class="singup-textbox"  placeholder="Mailing Street Address" value="<%= params[:textMailStreetAddress] %>" maxlength="100" pattern="^[A-Za-z0-9 ,]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [11111, Street Address]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">Zip Code</div>
											<input type="text" name="textMailZipCode" id="textMailZipCode" required="true" class="singup-textbox-small"  placeholder="ZipCode" value="<%= params[:textMailZipCode] %>" maxlength="6" pattern="^[0-9]+[0-9]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [123456] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">City, State</div>
											<input type="text" name="textMailCity" id="textMailCity" required="true" class="singup-textbox-small"  placeholder="City, State" value="<%= params[:textMailCity] %>" maxlength="20" pattern="^^[A-Za-z]+[ ]?[A-Za-z]+,[ ][A-Za-z]{2,2}$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle, WA] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">Phone Number</div>
											<input type="text" name="textPhoneNumber" id="textPhoneNumber" required="true" class="singup-textbox-small"  placeholder="Phone Number" value="<%= params[:textPhoneNumber] %>" maxlength="12" pattern="^[0-9]{3,3}[-]?[0-9]{3,3}[-]?[0-9]{4,4}$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [1234567890 or 123-456-7890] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">Email ID</div>
											<input type="email" name="textEmail" id="textEmail" required="true" class="singup-textbox-small"  placeholder="Email Address" value="<%= params[:textEmail] %>" maxlength="50" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [example@example.com] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">License No.</div>
											<input type="text" name="textLicense" id="textLicense" required="true" class="singup-textbox-small"  placeholder="Contractor License Number" value="<%= params[:textLicense] %>" maxlength="20" />
										</div>
										<div class="singup-textarea">
											<div class="label">Username</div>
											<input type="text" name="textUserName" id="textUserName" required="true" class="singup-textbox-small"  placeholder="User Name" value="<%= params[:textUserName] %>" maxlength="20" />
										</div>
										<div class="singup-textarea">
											<div class="label">Password</div>
											<input type="password" name="textPassword" id="textPassword" required="true" onchange="form.textConfirmPassword.pattern = this.value;" class="singup-textbox-small"  placeholder="Password" maxlength="20" />
										</div>
										<div class="singup-textarea">
											<div class="label">Confirm Password</div>
											<input type="password"  name="textConfirmPassword" id="textConfirmPassword" required="true" class="singup-textbox-small"  placeholder="Confirm Password" maxlength="20" />
										</div>
										<div style="width:400px">
											&nbsp;
										</div>
										
										<div class="singup-textarea">
											<input type="hidden" name="hidAuthCode" id="hidAuthCode" value="<%= params[:textCode] %>" >
											<input type="submit" name="Submit" id="Submit" value="Save" class="org-bt" />
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
