<!DOCTYPE html>
<html>
		<script>
			function confirm_activation(isactive){
				var result;
				if(isactive == 1)
				{
					result = window.confirm('Do you really want to activate this user.');				
				}
				else
				{
					result = window.confirm('Do you really want to deactivate this user.');
				}
				
				return result;
			}
			
			function confirm_notification(isEnable){
				var result;
				if(isEnable == 1)
				{
					result = window.confirm('Do you really want to enable search notification for this user.');				
				}
				else
				{
					result = window.confirm('Do you really want to disable search notification for this user.');
				}
				
				return result;
			}
			
			function load_chkAddress() {
				var chk = document.getElementById('chkAddress');
				if (chk.checked) {
					document.getElementById('textMailStreetAddress').value = document.getElementById('textBussStreetAddress').value;
					document.getElementById('textMailStreetAddress').readOnly = true;
					document.getElementById('textMailCity').value = document.getElementById('textBussCity').value;
					document.getElementById('textMailCity').readOnly = true;
					document.getElementById('textMailState').value= document.getElementById('textBussState').value;
					document.getElementById('textMailState').readOnly= true;
					document.getElementById('textMailZipCode').value = document.getElementById('textBussZipCode').value;
					document.getElementById('textMailZipCode').readOnly = true;
				}
			}
			
			function check_chkAddress(chk) {
				if (chk.checked) {
					document.getElementById('textMailStreetAddress').value = document.getElementById('textBussStreetAddress').value;
					document.getElementById('textMailStreetAddress').readOnly = true;
					document.getElementById('textMailCity').value = document.getElementById('textBussCity').value;
					document.getElementById('textMailCity').readOnly = true;
					document.getElementById('textMailState').value= document.getElementById('textBussState').value;
					document.getElementById('textMailState').readOnly= true;
					document.getElementById('textMailZipCode').value = document.getElementById('textBussZipCode').value;
					document.getElementById('textMailZipCode').readOnly = true;
				} else {
					document.getElementById('textMailStreetAddress').value = '';
					document.getElementById('textMailStreetAddress').readOnly = false;
					document.getElementById('textMailCity').value = '';
					document.getElementById('textMailCity').readOnly = false;
					document.getElementById('textMailState').value= '';
					document.getElementById('textMailState').readOnly= false;
					document.getElementById('textMailZipCode').value = '';
					document.getElementById('textMailZipCode').readOnly = false;
				}
			}
		</script>			
	</head>
	<body onload="load_chkAddress();">
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">
					<div class="review-block-wrapper">
					<div class="page-heading">
						Manage Users
						<div style="float:right;">
								<form id="getSelectedReview" action="<%= users_ManageUsers_url %>" method="post">
									<input type="hidden" name="hidStatus" id="hidStatus" value="<%= params[:hidStatus] %>" />
									<input type="hidden" name="hidFrom" id="hidFrom" value="<%= params[:hidFrom] %>" />
									<input type="hidden" name="hidTo" id="hidTo" value="<%= params[:hidTo] %>" />
									<input type="submit" name="Submit" id="Submit" value="GO BACK TO MANAGE USERS ACCOUNT" class="org-bt" />
								</form>	
							</div>
					</div>
						
						<div id="singup-form-area">
							<div class="singup-form-heading">
								<h1>
									<div>Edit User's Account</div>
									<% if(params[:successMessage] != nil) %>
									<div id="messageDiv" class="success">
									<%= params[:successMessage] %>
									</div>
									<% end %>
								</h1>
							</div>

							<div class="singup-form">
								<div id="SignupForm">
									<form action="<%= users_UpdateUser_url %>" method="post">
										
										<div class="singup-textarea">
											<div class="label">Company Name</div>
											<input type="text" name="textCompany" id="textCompany" required="true" class="singup-textbox-small"  placeholder="Name of Company" value="<%= @usercompanyName %>" />
										</div>
										<div class="singup-textarea">
											<div class="label">First Name</div>
											<input type="text" name="textFirstName" id="textFirstName" required="true" class="singup-textbox-small"  placeholder="First Name" value="<%= @userfirstName %>" maxlength="20" pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Steve]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">Last Name</div>
											<input type="text" name="textLastName" id="textLastName" required="true" class="singup-textbox-small"  placeholder="Last Name" value="<%= @userlastName %>" maxlength="20" pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Steve]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">Incorporation Type</div>
											<input type="text" name="textIncorporationType" id="textIncorporationType" required="true" class="singup-textbox-small"  placeholder="Type of Incorporation" value="<%= @userincorporationType  %>" />
										</div>
										<div class="singup-textarea">
											<div class="label">Street Address</div>
											<input type="text" name="textBussStreetAddress" required="true" id="textBussStreetAddress" class="singup-textbox-small"  placeholder="Business Street Address" value="<%= @userbussStreetAddress %>" maxlength="100" pattern="^[A-Za-z0-9 ,]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [11111, Street Address]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
										<div class="label">City</div>
											<input type="text" name="textBussCity" id="textBussCity" required="true" class="singup-textbox-small" placeholder="City" value="<%= @userbussCity %>" maxlength="20" pattern="^[A-Za-z ]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
										<div class="label">State</div>
											<input type="text" name="textBussState" id="textBussState" required="true" class="singup-textbox-small" placeholder="State" value="<%= @userbussState %>" maxlength="20" pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [WA] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">Zip Code</div>
											<input type="text" name="textBussZipCode" id="textBussZipCode" required="true" class="singup-textbox-small"  placeholder="ZipCode" value="<%= @userbussZipCode %>" maxlength="6" pattern="^[0-9]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [123456] ')" oninput="setCustomValidity('')"  />
										</div>
										
										<div class="singup-textarea">
											<% if(@addressCheck) %>
												<input type="checkbox" checked="checked" id="chkAddress" name="chkAddress" value="1" onclick="check_chkAddress(this);" />
											<% else %>
												<input type="checkbox" id="chkAddress" name="chkAddress" value="1" onclick="check_chkAddress(this);" />
											<% end %>
											<label for="chkAddress" class="label">Use Business Address as Mailing Address.</label>
										</div>
										<div style="width:300px">&nbsp;</div>
										<div class="singup-textarea">
											<div class="label">Street Address</div>
											<input type="text" name="textMailStreetAddress" id="textMailStreetAddress" required="true" class="singup-textbox-small"  placeholder="Mailing Street Address" value="<%= @usermailStreetAddress %>" maxlength="100" pattern="^[A-Za-z0-9 ,]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [11111, Street Address]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">City</div>
											<input type="text" name="textMailCity" id="textMailCity" required="true" class="singup-textbox-small" placeholder="City" value="<%= @usermailCity %>" maxlength="20" pattern="^[A-Za-z ]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">State</div>
											<input type="text" name="textMailState" id="textMailState" required="true" class="singup-textbox-small" placeholder="State" value="<%= @usermailState %>" maxlength="20" pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [WA] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">Zip Code</div>
											<input type="text" name="textMailZipCode" id="textMailZipCode" required="true" class="singup-textbox-small"  placeholder="ZipCode" value="<%= @usermailZipCode %>" maxlength="6" pattern="^[0-9]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [123456] ')" oninput="setCustomValidity('')" />
										</div>
										
										<div class="singup-textarea">
											<div class="label">Contact Number</div>
											<input type="text" name="textPhoneNumber" id="textPhoneNumber" required="true" class="singup-textbox-small"  placeholder="Phone Number" value="<%= @userphoneNumber %>" maxlength="12" pattern="^[0-9-]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [1234567890 or 123-456-7890] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div  class="label">Email ID</div>
											<input type="email" name="textEmail" id="textEmail" required="true" class="singup-textbox-small"  placeholder="Email Address" value="<%= @useremail %>" maxlength="50" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [example@example.com] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">License No.</div>
											<input type="text" name="textLicense" id="textLicense" required="true" class="singup-textbox-small"  placeholder="Contractor License Number" value="<%= @userlicense %>" maxlength="20" pattern="^[A-Za-z0-9]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [BNO1234567] ')" oninput="setCustomValidity('')"  />
										</div>
										<div class="singup-textarea">
											<div class="label">Username</div>
											<input type="text" readonly="readonly" name="textUserName" id="textUserName" required="true" class="singup-textbox-small"  placeholder="User Name" value="<%= @userName %>" maxlength="20" pattern="^[A-Za-z0-9]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [steve86] ')" oninput="setCustomValidity('')"  />
										</div>
										<div class="singup-textarea">
											<div style="width:210px; margin-top: 10px">
											<label for="chkSubscribed">Subscribed</label>
											<% if(@subUser.IsSubscribed) %>
												<input type="checkbox" checked="checked" id="chkSubscribed" name="chkSubscribed" value="1" disabled="disabled" />
											<% else %>
												<input type="checkbox" id="chkSubscribed" name="chkSubscribed" value="1" disabled="disabled" />
											<% end %>
											</div>
										</div>
										<div class="singup-textarea">
											<div style="width:210px; margin-top: 10px">
											<label for="chkOwner">Company Owner</label>
											<% if(@subUser.AuthCodeUsed.to_i == 1) %>
												<input type="checkbox" id="chkOwner" name="chkOwner" value="1" disabled="disabled" />
											<% else %>
												<input type="checkbox" checked="checked" id="chkOwner" name="chkOwner" value="1" disabled="disabled" />
											<% end %>
											</div>
										</div>
										
										<% if(!@subPrice.blank?) %>
										<div class="singup-textarea">
											<div style="width:210px; margin-top: 10px">
											<label>Subscription Price: </label>
												<%= @subPrice.TransactionAmount %>
											</div>
										</div>
										<% end %>
										<% if(!@subAuthKey.blank?) %>
										<div class="singup-textarea">
											<div style="width:210px; margin-top: 10px">
											<label>Authorization Key: </label>
												<%= @subAuthKey.Key %>
											</div>
										</div>
										<% end %>
										<div style="width:100px">&nbsp;</div>	
													
										<div class="singup-textarea">
											<input type="hidden" name="hidUserID" id="hidUserID" value="<%= @userID %>" />
											<input type="hidden" name="hidStatus" id="hidStatus" value="<%= params[:hidStatus] %>" />
											<input type="hidden" name="hidFrom" id="hidFrom" value="<%= params[:hidFrom] %>" />
											<input type="hidden" name="hidTo" id="hidTo" value="<%= params[:hidTo] %>" />
											<input type="submit" name="Submit" id="Submit" value="Save" class="org-bt" />
										</div>
									</form>
									<div class="singup-textarea">
									<form action="<%= users_UserActivation_url %>" method="post">
										<% if(@subUser.IsActivated) %>
											<input type="hidden" name="hidUserID" id="hidUserID" value="<%= @userID %>" />
											<input type="hidden" id="hidActivate" name="hidActivate" value="0" />
											<input type="submit" name="Submit" id="Submit" value="Deactivate User" onclick="return confirm_activation('0');" class="org-bt" />
										<% else %>
											<input type="hidden" name="hidUserID" id="hidUserID" value="<%= @userID %>" />
											<input type="hidden" id="hidActivate" name="hidActivate" value="1" />
											<input type="submit" name="Submit" id="Submit" value="Activate User" onclick="return confirm_activation('1');" class="org-bt" />
										<% end %>
									</form>
									</div>
									<div class="singup-textarea">
									<form action="<%= users_SearchNotification_url %>" method="post">
										<% if(@subUser.IsNotification) %>
											<input type="hidden" name="hidUserID" id="hidUserID" value="<%= @userID %>" />
											<input type="hidden" id="hidNotification" name="hidNotification" value="0" />
											<input type="submit" name="Submit" id="Submit" value="Disable Notification" onclick="return confirm_notification('0');" class="org-bt" />
										<% else %>
											<input type="hidden" name="hidUserID" id="hidUserID" value="<%= @userID %>" />
											<input type="hidden" id="hidNotification" name="hidNotification" value="1" />
											<input type="submit" name="Submit" id="Submit" value="Enable Notification" onclick="return confirm_notification('1');" class="org-bt" />
										<% end %>
									</form>
									</div>
								</div>
							</div>
						
							<div style="float:left; height: 20px;">&nbsp;</div>
							<div class="singup-form-heading">
								<h1>
									<div>Change User's Password</div>
									<% if(@messageString != nil) %>
									<div id="messageDiv" class="success">
									<%= @messageString %>
									</div>
									<% end %>
										
								</h1>
							</div>
							<div class="singup-form">
								<div id="SignupForm">
									<form action="<%= users_ChangePassword_url %>" method="post">

										<div class="singup-textarea">
											<div class="label">
												Password
											</div>
											<input type="password" name="textPassword" id="textPassword" required="true" onchange="form.textConfirmPassword.pattern = this.value;" class="singup-textbox-small"  placeholder="Password" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												Confirm Password
											</div>
											<input type="password"  name="textConfirmPassword" id="textConfirmPassword" required="true" class="singup-textbox-small"  placeholder="Confirm Password" />
										</div>
										<div style="width: 300px;">&nbsp;</div>

										<div class="singup-textarea">
											<input type="hidden" name="hidUserID" id="hidUserID" value="<%= @userID %>" />
											<input type="submit" name="Submit" id="Submit" value="Save New Password" class="org-bt" />
										</div>
									</form>
									
								</div>
							</div>
						
						</div>

					</div>
				</div>
			</div>

			<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
