<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#tbSubUser').dataTable({
					"sPaginationType" : "full_numbers",
					"iDisplayLength" : 25,
					"aLengthMenu" : [25, 50, 100, 200],
					"aaSorting" : [[3,'desc']],
					//"sDom": '<"top"lf>rt<"bottom"ip><"clear">'
					"oLanguage": {
        				"sEmptyTable" : "No Records found."
    				}
				});
				
				$("#tbSubUser").tablesorter({dateFormat: 'dd/mm/yyyy'});
				
				$("#textDateFrom").datepicker({
					maxDate : new Date(),
					dateFormat : 'mm/dd/yy'
				});
				$("#textDateTo").datepicker({
						minDate : new Date($("#textDateFrom").val()),
						maxDate : new Date(),
						dateFormat : 'mm/dd/yy'
					});
				$("#textDateFrom").change(function() {
					$("#textDateTo").val("");
					$("#textDateTo").datepicker("destroy");
					$("#textDateTo").datepicker({
						minDate : new Date($("#textDateFrom").val()),
						maxDate : new Date(),
						dateFormat : 'mm/dd/yy'
					});
				});

			});
			function EditUser(userID) {
				var eID = '#frmEditUser' + userID
				$(eID).submit();
			}
			
			function DeleteUser(userID) {
				result = confirm("Review is not Approved. Do you also want to approve this review.");									
				if(result)
				{
					var eID = '#frmDeleteUser' + userID
					$(eID).submit();	
				}
				else
				{
					return false;
				}
				
			}

			function GetUsersFilter() {
				$("#frmGetUsersFilter").submit();
			}
		</script>
	</head>
	<body>
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">
					<div class="review-block-wrapper">
						<div class="page-heading">
							Manage Users
							<div style="float:right;">
								<form id="getSelectedReview" action="<%= users_AddUser_url %>" method="post">
									<input type="submit" name="Submit" id="Submit" value="ADD NEW USER" class="org-bt" />
								</form>
							</div>
						</div>

						<div id="singup-form-area">
							<div class="singup-form-heading">
								<h1>
									<div>User List</div>
									<% if(flash[:notice] != nil) %>
									<div id="messageDiv" class="success">
									<%= flash[:notice] %>
									</div>
									<% end %>
									</h1>
								
								<div style="margin-top: 20px; float: left;">
									<form id="frmGetUsersFilter" action="<%= users_ManageUsers_url %>" method="post">
										<div class="singup-textarea">
											<select id="selectStatus" name="selectStatus" class="singup-select-small" onchange="GetUsersFilter();">
												<% if(@filterString == '0') %>
												<option selected="selected" value="0">--Select User Status--</option>
												<% else %>
												<option value="0">All</option>
												<% end %>
												<% if(@filterString == '1') %>
												<option selected="selected" value="1">Activated</option>
												<% else %>
												<option value="1">Activated</option>
												<% end %>
												<% if(@filterString == '2') %>
												<option selected="selected" value="2">Deactivated</option>
												<% else %>
												<option value="2">Deactivated</option>
												<% end %>
												<% if(@filterString == '3') %>
												<option selected="selected" value="3">Subscribed</option>
												<% else %>
												<option value="3">Subscribed</option>
												<% end %>
												<% if(@filterString == '4') %>
												<option selected="selected" value="4">Non-Subscribed</option>
												<% else %>
												<option value="4">Non-Subscribed</option>
												<% end %>

											</select>
										</div>
										<div class="singup-textarea">
											<input type="text" name="textDateFrom" id="textDateFrom" readonly="readonly" autocomplete="off" class="singup-textbox-small"  placeholder="Subscription Date From" value="<%= @DateFrom %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textDateTo" id="textDateTo" readonly="readonly" autocomplete="off" class="singup-textbox-small"  placeholder="Subscription Date To" value="<%= @DateTo %>" />
										</div>
										<div class="singup-textarea">
											<input type="hidden" name="hidUserID" id="hidUserID" value="<%= @userID %>" />
											<input type="submit" name="Submit" id="Submit" value="FILTER SEARCH" style="margin-top: -4px" class="org-bt" />
										</div>
									</form>
								</div>
								
								<div style="margin-top: -49px; margin-left: 785px; float: left;">
									<form id="frmGetReviewsFilter" action="<%= users_ManageUsers_url %>" method="post">
										
										<div class="singup-textarea">
											<input type="hidden" id="hidSetFilter" name="hidSetFilter" value="1" />
											<input type="submit" name="Submit" id="Submit" value="RESET FILTER" class="org-bt" />
										</div>
									</form>
								</div>
							</div>

							<div class="singup-form">
								<div id="SignupForm">
									<% if(!@subUser.blank?) %>

									<table id="tbSubUser" style="width: 100%">
										<thead>
											<tr>
												<th align="left" style="width: 11% !important">First Name</th>
												<th align="left" style="width: 10% !important">Last Name</th>
												<th align="left" style="width: 13% !important">Company</th>
												<th align="left" style="width: 17% !important">Subscription Date</th>
												<th align="left" style="width: 10% !important">Company Owner</th>
												<th align="left" style="width: 11% !important">Subscribed</th>
												<th align="left" style="width: 10% !important">Activated</th>
												<th align="left" style="width: 11% !important">Notification</th>
												<th align="left" style="width: 7% !important">Action</th>
											</tr>
										</thead>

										<tbody>
											<% @subUser.each do |sUser| %>
											<tr>
												<td><%= sUser.FirstName %></td>
												<td><%= sUser.LastName %></td>
												<td><%= sUser.CompanyName %></td>
												<td align="center"> <% if(sUser.SubscriptionDate != nil) %>
												<%= sUser.SubscriptionDate.strftime('%B %e, %Y') %>
												<% else %>
												-
												<% end %> </td>
												<td align="center"> <% if(sUser.AuthCodeUsed) %>
												Yes
												<% else %>
												No
												<% end %> </td>
												<td align="center"> <% if(sUser.IsSubscribed) %>
												Yes
												<% else %>
												No
												<% end %> </td>
												<td align="center"> <% if(sUser.IsActivated) %>
												Yes
												<% else %>
												No
												<% end %> </td>
												<td align="center"> <% if(sUser.IsNotification) %>
												Yes
												<% else %>
												No
												<% end %> </td>

												<td align="center">
													<form id="frmEditUser<%= sUser.id %>" action="<%= users_EditUser_url %>" method="post">
														<input type="hidden" name="hidUserID" id="hidUserID" value="<%= sUser.id %>" />
														<input type="hidden" name="hidStatus" id="hidStatus" value="<%= @filterString %>" />
														<input type="hidden" name="hidFrom" id="hidFrom" value="<%= @DateFrom %>" />
														<input type="hidden" name="hidTo" id="hidTo" value="<%= @DateTo %>" />
													</form>
													<a id="linkEdit" href="#" onclick="EditUser(<%= sUser.id %>);">Edit</a>
													<% if(!sUser.IsSubscribed) %>
													<form id="frmDeleteUser<%= sUser.id %>" action="<%= users_DeleteUser_url %>" method="post">
														<input type="hidden" name="hidUserID" id="hidUserID" value="<%= sUser.id %>" />
														<input type="hidden" name="hidStatus" id="hidStatus" value="<%= @filterString %>" />
														<input type="hidden" name="hidFrom" id="hidFrom" value="<%= @DateFrom %>" />
														<input type="hidden" name="hidTo" id="hidTo" value="<%= @DateTo %>" />
													</form>
													<a id="linkEdit" href="#" onclick="DeleteUser(<%= sUser.id %>);">Delete</a>
													<% end %>
												</td>
											</tr>
											<% end %>
										</tbody>

									</table>

									<% else %>
									No Records found.
									<% end %>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
