<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#textHearingDate").datepicker({
					dateFormat : 'mm/dd/yy'
				});
				$("#textCaseFiledDate").datepicker({
					dateFormat : 'mm/dd/yy'
				});
				$("#textDateIssued").datepicker({
					dateFormat : 'mm/dd/yy'
				});
			});
		</script>
	</head>
	<body>
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">
					<div class="review-block-wrapper">
						<div class="page-heading">
							Manage Public Records
							<div style="float:right;">
								<form id="frmManagePublicRecords" action="<%= public_records_ManagePublicRecords_url %>" method="post">
									<input name="hidStreetAddress" type="hidden" id="hidStreetAddress" value="<%= params[:hidStreetAddress] %>" />
									<input name="hidselectCity" type="hidden" id="hidselectCity" value="<%= params[:hidselectCity] %>" />
									<input name="hidselectState" type="hidden" id="hidselectState" value="<%= params[:hidselectState] %>" />
									<input name="hidZipCode" type="hidden" id="hidZipCode" value="<%= params[:hidZipCode] %>" />
									<input name="hidDateFrom" type="hidden" id="hidDateFrom" value="<%= params[:hidDateFrom] %>" />
									<input name="hidDateTo" type="hidden" id="hidDateTo" value="<%= params[:hidDateTo] %>" />
									<input type="submit" name="Submit" id="Submit" value="GO BACK TO MANAGE PUBLIC RECORDS" class="org-bt" />
								</form>
							</div>
						</div>

						<div id="singup-form-area">
							<div class="singup-form-heading">
								<h1>
									Edit Court Proceeding Details
									<% if(params[:successMessage] != nil) %>
									<div id="messageDiv" class="success">
									<%= params[:successMessage] %>
									</div>
									<% end %>
								</h1>
							</div>

							<div class="singup-form">
								<div id="SignupForm">
									<form action="<%= public_records_UpdateCourtProceedings_url %>" method="post">
										<div id="public-records-header">

											<div id="review-header-right">
												<div class="address-desc">
													<%= @textStreetAddress %>
													<br />
													<%= @textCity %>, <%= @textState %> <%= @textZipCode  %>
												</div>

											</div>
										</div>

										<div class="subscription-Title">
											Court Proceeding
										</div>
										<div class="singup-textarea">
											<div class="label">
												Type of Case
											</div>
											<input type="text" name="textCaseType" id="textCaseType" maxlength="30" required="true" class="singup-textbox-small" value="<%= @caseType %>" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												Court Hearing Date
											</div>
											<input type="text" name="textHearingDate" readonly="readonly" id="textHearingDate" required="true" class="singup-textbox-small" value="<%= @hearingDate %>" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												Case Filed On
											</div>
											<input type="text" name="textCaseFiledDate" readonly="readonly" id="textCaseFiledDate" required="true" class="singup-textbox-small" value="<%= @caseFiledDate %>" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												Amount Awarded($)
											</div>
											<input type="text" name="textAmountAwarded" id="textAmountAwarded" required="true" class="singup-textbox-small" value="<%= @amountAwarded %>" pattern="\d+(\.\d{2})?" />
										</div>

										<div class="subscription-sub-Title">
											Defendant Details
										</div>
										<div class="singup-textarea">
											<div class="label">
												First Name
											</div>
											<input type="text" name="textDefFirstName" id="textDefFirstName" required="true" class="singup-textbox-small" value="<%= @defFirstName %>" maxlength="20" pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Steve]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												Last Name
											</div>
											<input type="text" name="textDefLastName" id="textDefLastName" required="true" class="singup-textbox-small" value="<%= @defLastName %>" maxlength="20" pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Steve]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												Address
											</div>
											<input type="text" name="textDefAddress" id="textDefAddress" required="true" class="singup-textbox" value="<%= @defAddress %>" maxlength="100" pattern="^[A-Za-z0-9 ,]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [11111, Street Address]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												City
											</div>
											<input type="text" name="textDefCity" id="textDefCity" required="true" class="singup-textbox-small" value="<%= @defCity %>" maxlength="20" pattern="^[A-Za-z ]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle, WA] ')" oninput="setCustomValidity('')" />
										</div>
										
										<div class="singup-textarea">
											<div class="label">
												State
											</div>
											<input type="text" name="textDefState" id="textDefState" required="true" class="singup-textbox-small" value="<%= @defState %>" maxlength="20" pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle, WA] ')" oninput="setCustomValidity('')" />
										</div>

										<div class="singup-textarea">
											<div class="label">
												ZipCode
											</div>
											<input type="text" name="textDefZipCode" id="textDefZipCode" required="true" class="singup-textbox-small" value="<%= @defZipcode  %>" maxlength="6" pattern="^[0-9]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [123456] ')" oninput="setCustomValidity('')" />
										</div>

										<div class="subscription-sub-Title">
											Plaintiff Details
										</div>
										<div class="singup-textarea">
											<div class="label">
												First Name
											</div>
											<input type="text" name="textPlainFirstName" id="textPlainFirstName" required="true" class="singup-textbox-small" value="<%= @plainFirstName %>" maxlength="20" pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Steve]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												Last Name
											</div>
											<input type="text" name="textPlainLastName" id="textPlainLastName" required="true" class="singup-textbox-small" value="<%= @plainLastName %>" maxlength="20" pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Steve]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												Address
											</div>
											<input type="text" name="textPlainAddress" id="textPlainAddress" required="true" class="singup-textbox" value="<%= @plainAddress %>" maxlength="100" pattern="^[A-Za-z0-9 ,]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [11111, Street Address]')" oninput="setCustomValidity('')" />
										</div>
										
										<div class="singup-textarea">
											<div class="label">
												City
											</div>
											<input type="text" name="textPlainCity" id="textPlainCity" required="true" class="singup-textbox-small" value="<%= @plainCity %>" maxlength="20" pattern="^[A-Za-z ]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle, WA] ')" oninput="setCustomValidity('')" />
										</div>
										
										<div class="singup-textarea">
											<div class="label">
												State
											</div>
											<input type="text" name="textPlainState" id="textPlainState" required="true" class="singup-textbox-small" value="<%= @plainState %>" maxlength="20" pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle, WA] ')" oninput="setCustomValidity('')" />
										</div>

										<div class="singup-textarea">
											<div class="label">
												ZipCode
											</div>
											<input type="text" name="textPlainZipCode" id="textPlainZipCode" required="true" class="singup-textbox-small" value="<%= @plainZipcode  %>" maxlength="6" pattern="^[0-9]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [123456] ')" oninput="setCustomValidity('')" />
										</div>

										<div class="subscription-Title">
											<br />
											Lien
										</div>
										<div class="singup-textarea">
											<div class="label">
												Date Issued
											</div>
											<input type="text" name="textDateIssued" readonly="readonly" id="textDateIssued" required="true" class="singup-textbox-small" value="<%= @dateIssued %>" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												Amount($)
											</div>
											<input type="text" name="textAmount" id="textAmount" required="true" class="singup-textbox-small" value="<%= @amount %>" pattern="\d+(\.\d{2})?" />
										</div>

										<div class="subscription-sub-Title">
											Grantor Details
										</div>
										<div class="singup-textarea">
											<div class="label">
												First Name
											</div>
											<input type="text" name="textGrantFirstName" id="textGrantFirstName" required="true" class="singup-textbox-small" value="<%= @grantFirstName %>" maxlength="20" pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Steve]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												Last Name
											</div>
											<input type="text" name="textGrantLastName" id="textGrantLastName" required="true" class="singup-textbox-small" value="<%= @grantLastName %>" maxlength="20" pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Steve]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												Address
											</div>
											<input type="text" name="textGrantAddress" id="textGrantAddress" required="true" class="singup-textbox" value="<%= @grantAddress %>" maxlength="100" pattern="^[A-Za-z0-9 ,]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [11111, Street Address]')" oninput="setCustomValidity('')" />
										</div>
										
										<div class="singup-textarea">
											<div class="label">
												City
											</div>
											<input type="text" name="textGrantCity" id="textGrantCity" required="true" class="singup-textbox-small" value="<%= @grantCity %>" maxlength="20" pattern="^[A-Za-z ]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle, WA] ')" oninput="setCustomValidity('')" />
										</div>
										
										<div class="singup-textarea">
											<div class="label">
												State
											</div>
											<input type="text" name="textGrantState" id="textGrantState" required="true" class="singup-textbox-small" value="<%= @grantState %>" maxlength="20" pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle, WA] ')" oninput="setCustomValidity('')" />
										</div>
										
										<div class="singup-textarea">
											<div class="label">
												ZipCode
											</div>
											<input type="text" name="textGrantZipCode" id="textGrantZipCode" required="true" class="singup-textbox-small" value="<%= @grantZipcode  %>" maxlength="6" pattern="^[0-9]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [123456] ')" oninput="setCustomValidity('')" />
										</div>

										<div style="width:100px">
											&nbsp;
										</div>

										<div class="singup-textarea">
											<input type="hidden" name="hidAddressID" id="hidAddressID" value="<%= @addressID %>" />
											<input name="hidStreetAddress" type="hidden" id="hidStreetAddress" value="<%= params[:hidStreetAddress] %>" />
											<input name="hidselectCity" type="hidden" id="hidselectCity" value="<%= params[:hidselectCity] %>" />
											<input name="hidselectState" type="hidden" id="hidselectState" value="<%= params[:hidselectState] %>" />
											<input name="hidZipCode" type="hidden" id="hidZipCode" value="<%= params[:hidZipCode] %>" />
											<input name="hidDateFrom" type="hidden" id="hidDateFrom" value="<%= params[:hidDateFrom] %>" />
											<input name="hidDateTo" type="hidden" id="hidDateTo" value="<%= params[:hidDateTo] %>" />
											<input type="submit" name="Submit" id="Submit" value="Save" class="org-bt" />
										</div>
									</form>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
