<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#tbSubUser').dataTable({
					"sPaginationType" : "full_numbers",
					"iDisplayLength" : 25,
					"aLengthMenu" : [25, 50, 100, 200],
					//"sDom": '<"top"lf>rt<"bottom"ip><"clear">'
				});

				$("#textDateFrom").datepicker({
					maxDate : new Date(),
					dateFormat : 'mm/dd/yy'
				});
				$("#textDateTo").datepicker({
						minDate : new Date($("#textDateFrom").val()),
						maxDate : new Date(),
						dateFormat : 'mm/dd/yy'
					});
				$("#textDateFrom").change(function() {
					$("#textDateTo").val("");
					$("#textDateTo").datepicker("destroy");
					$("#textDateTo").datepicker({
						minDate : new Date($("#textDateFrom").val()),
						maxDate : new Date(),
						dateFormat : 'mm/dd/yy'
					});
				});
		

			});
			function EditMLJudgements(addID) {
				var eID = '#frmEditMLJudgements' + addID
				$(eID).submit();
			}
			
			function EditCourtProceedings(addID) {
				var eID = '#frmEditCourtPro' + addID
				$(eID).submit();
			}
			
			function GetUsersFilter() {
				$("#frmGetUsersFilter").submit();
			}
			</script>
	</head>
	<body>
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">
					<div class="review-block-wrapper">
						<div class="page-heading">
							Manage Public Records
							
						</div>

						<div id="singup-form-area">
							<div class="singup-form-heading">
								<h1>
									<div>Address List</div>
									<% if(flash[:notice] != nil) %>
									<div id="messageDiv" class="success">
									<%= flash[:notice] %>
									</div>
									<% end %>
								</h1>
								
								<div style="margin-top: 20px; float: left;">
									<form id="frmGetReviewsFilter" action="<%= public_records_ManagePublicRecords_url %>" method="post">
										
										<div class="singup-textarea">
											<input name="txtStreetAddress" type="text" class="singup-textbox-small" id="txtStreetAddress" maxlength="100" placeholder="Street Address" value="<%= @streetAddress %>" pattern="^[A-Za-z0-9 ,]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [11111, Street Address]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input name="selectCity" type="text" autocomplete="off" class="singup-textbox-small" maxlength="20" id="selectCity" placeholder="City" value="<%= @city %>" pattern="^[A-Za-z ]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle, WA] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input name="selectState" type="text" autocomplete="off" class="singup-textbox-small" maxlength="20" id="selectState" placeholder="State" value="<%= @state %>" pattern="^[A-Za-z]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle, WA] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input name="txtZipCode" type="text" class="singup-textbox-small" id="txtZipCode" placeholder="Zipcode" maxlength="6" value="<%= @zipCode %>" pattern="^[0-9]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [123456] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textDateFrom" id="textDateFrom" readonly="readonly" autocomplete="off" class="singup-textbox-small"  placeholder="Date From" value="<%= @DateFrom %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textDateTo" id="textDateTo" readonly="readonly" autocomplete="off" class="singup-textbox-small"  placeholder="Date To" value="<%= @DateTo %>" />
										</div>
										<div class="singup-textarea">
											<input type="submit" name="Submit" id="Submit" value="FILTER SEARCH" class="org-bt-small" />
										</div>
										
									</form>
								</div>
								
								<div style="margin-top: -41px; margin-left: 565px; float: left;">
									<form id="frmGetReviewsFilter" action="<%= public_records_ManagePublicRecords_url %>" method="post">
										
										<div class="singup-textarea">
											<input type="hidden" id="hidSetFilter" name="hidSetFilter" value="1" />
											<input type="submit" name="Submit" id="Submit" value="RESET FILTER" class="org-bt-small" />
										</div>
									</form>
								</div>
							</div>

							<div class="singup-form">
								<div id="SignupForm">
									<% if(!@addresses.blank?) %>

									<table id="tbSubUser" style="width: 100%">
										<thead>
											<tr>
												<th align="left">Address</th>
												<th align="left">City</th>
												<th align="left">State</th>
												<th align="left">ZipCode</th>
												<th align="left">ML & Judgements</th>
												<th align="left">Court Proceedings</th>
											</tr>
										</thead>

										<tbody>
											<% @addresses.each do |add| %>
											<tr>
												<td><%= add.StreetAddress %></td>
												<td><%= add.City %></td>
												<td><%= add.State %></td>
												<td align="center"><%= add.ZipCode %></td>
												<td align="center">
													<form id="frmEditMLJudgements<%= add.id %>" action="<%= public_records_EditMLJudgements_url %>" method="post">
														<input name="hidStreetAddress" type="hidden" id="hidStreetAddress" value="<%= @streetAddress %>" />
														<input name="hidselectCity" type="hidden" id="hidselectCity" value="<%= @city %>" />
														<input name="hidselectState" type="hidden" id="hidselectState" value="<%= @state %>" />
														<input name="hidZipCode" type="hidden" id="hidZipCode" value="<%= @zipCode %>" />
														<input name="hidDateFrom" type="hidden" id="hidDateFrom" value="<%= @DateFrom %>" />
														<input name="hidDateTo" type="hidden" id="hidDateTo" value="<%= @DateTo %>" />
														<input type="hidden" name="hidAddressID" id="hidAddressID" value="<%= add.id %>" />
													</form>
													<a id="linkEdit" href="#" onclick="EditMLJudgements(<%= add.id %>);">Edit</a></td>
												<td align="center">
													<form id="frmEditCourtPro<%= add.id %>" action="<%= public_records_EditCourtProceedings_url %>" method="post">
														<input name="hidStreetAddress" type="hidden" id="hidStreetAddress" value="<%= @streetAddress %>" />
														<input name="hidselectCity" type="hidden" id="hidselectCity" value="<%= @city %>" />
														<input name="hidselectState" type="hidden" id="hidselectState" value="<%= @state %>" />
														<input name="hidZipCode" type="hidden" id="hidZipCode" value="<%= @zipCode %>" />
														<input name="hidDateFrom" type="hidden" id="hidDateFrom" value="<%= @DateFrom %>" />
														<input name="hidDateTo" type="hidden" id="hidDateTo" value="<%= @DateTo %>" />
														<input type="hidden" name="hidAddressID" id="hidAddressID" value="<%= add.id %>" />
													</form>
													<a id="linkEdit" href="#" onclick="EditCourtProceedings(<%= add.id %>);">Edit</a></td>
											</tr>
											<% end %>
										</tbody>

									</table>

									<% end %>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
