<!DOCTYPE html>
<html>
<head>
	<title>NicksList - User Registration</title>
</head>
<body>
	<div id="wrapper">
		<%= render partial: "/layouts/header" %>
		
    <div id="main-content-wrapper">
    	<div class="browser-center">
        	<div id="signup-wrapper">
               <div id="signup-header">
                  <h1>Change Password</h1>
               </div>
               <!--<div class="steps"><%= image_tag("step1.jpg", :alt => "") %></div>-->
               
               <div id="singup-form-area">
               		<div class="singup-form-heading">
               			<div style="float:right; margin-top: -20px">
							<form id="getSelectedReview" action="<%= user_profile_ViewProfile_url %>" method="post">
								<input type="submit" name="Submit" id="Submit" value="GO BACK TO MY PROFILE" class="org-bt" />
							</form>	
						</div>
                    	<h1>Change Old Password</h1>
                        
                        <% if(flash[:notice] != nil)%>
                        <div id="Error"><%= flash[:notice] %></div>
                        <% end %>        
                    </div>
                    
               		<div class="singup-form">
               			<div id="SignupForm">
               			<form action="<%= authentication_SavePassword_url %>" method="post">  
               			<div class="singup-textarea">
                    	  <input type="password" name="textOldPassword" id="textOldPassword" required="true" class="singup-textbox-small"  placeholder="Old Password" />
                          </div>            			
                        <div class="singup-textarea">
                    	  <input type="password" name="textPassword" id="textPassword" required="true" onchange="form.textConfirmPassword.pattern = this.value;" class="singup-textbox-small"  placeholder="New Password" />
                          </div>
                          <div class="singup-textarea">
                          <input type="password"  name="textConfirmPassword" id="textConfirmPassword" required="true" class="singup-textbox-small"  placeholder="Confirm New Password" />
                    	</div>
                    	<div style="width: 197px">&nbsp;</div>
                        <div class="singup-textarea">
                        	<input type="submit" name="Submit" id="Submit" value="Submit" class="org-bt" />
                        </div>
                        </form>
                        </div>
                    </div>
               </div>
               
             </div>
        </div>
    </div>
    
    <%= render partial: "/layouts/footer" %>
</div>
</body>
</html>
