<!DOCTYPE html>
<html>
<body>
	<div id="wrapper">
	<%= render partial: "/layouts/header" %>	
	
    <div id="main-content-wrapper">
    	<div class="browser-center">
        	<div id="signup-wrapper">
               <div id="signup-header">
                  <h1>Forgot Password</h1>
                  <h2>Get password in a single step.</h2>
               </div>
               <!--<div class="steps"><%= image_tag("step1.jpg", :alt => "") %></div>-->
               
               <div id="singup-form-area">
               		<div class="singup-form-heading">
                    	<h1>Get Your Password</h1>
                        <p>Fill the registered Email ID to get your password</p>
                        <% if(flash[:notice] != nil)%>
                        <div id="messageDiv" class="error" style="margin-top: -70px; margin-left: 220px"><%= flash[:notice] %></div>
                        <% end %>        
                    </div>
                    
               		<div class="singup-form">
               			<div id="SignupForm">
               			<form action="/authentication/requestpassword" method="post">              			
                        <div class="singup-textarea">
                    	  <input type="email" name="textEmail" id="textEmail" required="true" class="singup-textbox"  placeholder="Email Address" value="<%= params[:textEmail] %>" />
                        </div>
                        
                        <!--<div class="singup-textarea">
                    	  <input type="password" name="textPassword" id="textPassword" required="true" onchange="form.textConfirmPassword.pattern = this.value;" class="singup-textbox-small"  placeholder="Password" />
                          </div>
                          <div class="singup-textarea">
                          <input type="password"  name="textConfirmPassword" id="textConfirmPassword" required="true" class="singup-textbox-small"  placeholder="Confirm Password" />
                    	</div>-->
                                
                        <div class="singup-textarea">
                        	<input type="submit" name="Submit" id="Submit" value="Submit" class="org-bt" />
                        </div>
                        </form>
                        </div>
                    </div>
               </div>
               
             </div>
        </div>
    </div>
    
    <%= render partial: "/layouts/footer" %>
</div>
</body>
</html>
