<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Nick's List</title>
		<script type="text/javascript">
			function openLogin(val) {
				if (val != '' && val != null) {
					$('#signin_menu').show();
				}
			}
		</script>
	</head>
	<body onload="openLogin('<%= @openLogin %>');">
		<%= render partial: "/layouts/header" %>
		<div id="main-content-wrapper">
			<div class="browser-center">
				<div id="three-block">
					<div class="blue-block">
						<%= image_tag("about-icon.png", :alt => "") %>
						<h1>About BillysList</h1>
						<p>
							BillysList.com was founded by a small business owner who realized that just as good people need to beaware of bad contractors; good contractors need to be aware of bad people.
						</p>
					</div>

					<div class="org-block">
						<%= image_tag("how-work.png", :alt => "") %>
						<h1>How it Works</h1>
						<p>
							When you login to BillysList.com you have the option to either rate/review a customer or searchfor info on a potential customer.
						</p>
					</div>

					<div class="blue-block">
						<%= image_tag("testimonial.png", :alt => "") %>
						<h1>Client Testimonials</h1>
						<p>
							There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
						</p>
					</div>
				</div>

				<div id="latest-news">
					<div class="news-heading">
						Latest News and Updates
					</div>
					<div class="news-point">
						<ul class="bxslider">
							<li>
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
							</li>
							<li>
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
							</li>
							<li>
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
							</li>
						</ul>

					</div>
				</div>

			</div>
		</div>

		<%= render partial: "/layouts/footer" %>

	</body>
</html>
