<html>
	<head>
		<script>
			$(function() {
				$("#frmApprove").submit();
			});
		</script>
	</head>
	<body>
		<form id="frmApprove" action="<%= reviews_EditReview_url %>" method="post">
			<input name="hidQuestion" type="hidden" id="hidQuestion" value="<%= params[:hidQuestion] %>" />
			<input name="hidAnswer" type="hidden" id="hidAnswer" value="<%= params[:hidAnswer] %>" />
			<input name="hidFirstName" type="hidden" id="hidFirstName" value="<%= params[:hidFirstName] %>" />
			<input name="hidLastName" type="hidden" id="hidLastName" value="<%= params[:hidLastName] %>" />
			<input name="hidStreetAddress" type="hidden" id="hidStreetAddress" value="<%= params[:hidStreetAddress] %>" />
			<input name="hidCity" type="hidden" id="hidCity" value="<%= params[:hidCity] %>" />
			<input name="hidState" type="hidden" id="hidState" value="<%= params[:hidState] %>" />
			<input name="hidZipCode" type="hidden" id="hidZipCode" value="<%= params[:hidZipCode] %>" />
			<input name="hidPhoneNumber" type="hidden" id="hidPhoneNumber" value="<%= params[:hidPhoneNumber] %>" />
			<input type="hidden" name="hidDateFrom" id="hidDateFrom" value="<%= params[:hidDateFrom] %>" />
			<input type="hidden" name="hidDateTo" id="hidDateTo" value="<%= params[:hidDateTo] %>" />
			<input name="hidStatus" type="hidden" id="hidStatus" value="<%= params[:hidStatus] %>" />
			<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= @reviewID %>" />
		</form>
	</body>
</html>