<!DOCTYPE html>
<html>
	<head>
		<script>
			$(document).ready(function() {
				
    			$("input[name$='radYesNo2']").click(function() {	
        		var rbvalue = $(this).val();
				if(rbvalue == 'No')
				{
					$("#divSubQuest3").hide();
					$("#divSubQuest4").hide();
					$("#divSubQuest5").hide();
					$("#divSubQuest6").hide();
					$("#divSubQuest7").hide();
				}
				else
				{
					$("#divSubQuest3").show();
					$("#divSubQuest4").show();
					$("#divSubQuest5").show();
					$("#divSubQuest6").show();
					$("#divSubQuest7").show();
				}        		
    			});
			});
		</script>
		<script>
			function confirm_publish(){
				var result;
				var isApproved = $('#hidIsApproved').val();
				if(isApproved == 1)
				{
					var result = JQueryConfirm();
					//result = confirm("Review is not Approved. Do you also want to approve this review.");									
					//if(result)
					//{
					//	$('#hidIsPublish').val("2");	
					//}
				}
				return false;
			}
			
			function JQueryConfirm(){
				$.alerts.okButton = 'Yes';
				$.alerts.cancelButton = 'No';

				return jConfirm('Review is not Approved. Do you also want to approve this review.', 'Confirm', function(r) {
					
					if (r == false)
					{
						//Do stuff for no
						document.getElementById('frmPublishReview').submit();
						return false;
					}
					else
					{
						
						//Do stuff for yes
						$('#hidIsPublish').val("2");
						document.getElementById('frmPublishReview').submit();
						return true;
					}				
				});
				
				return false;
				
			}
		</script>
	</head>
	<body>
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">

					<div id="review-header">
						<div id="review-header-left">
							<h1><%= @revfirstName %>  <%= @revlastName %></h1>
						</div>
						<div id="review-header-right">
							<div class="address-desc">
								<%= @revstreetAddress %>,	<%= @revcitystateVal %> <%= @revzipCode %>
							</div>
							<div class="address-phone">
								<%= @revphoneNumber %>
							</div>
						</div>
					</div>

					<div class="review-block-wrapper">
						<div class="page-heading">
							Manage Reviews
							<div style="float:right; margin-bottom: 20px">
								<form id="frmManageReview" action="<%= reviews_ManageReviews_url %>" method="post">
									<input name="hidQuestion" type="hidden" id="hidQuestion" value="<%= params[:hidQuestion] %>" />
									<input name="hidAnswer" type="hidden" id="hidAnswer" value="<%= params[:hidAnswer] %>" />
									<input name="hidFirstName" type="hidden" id="hidFirstName" value="<%= params[:hidFirstName] %>" />
									<input name="hidLastName" type="hidden" id="hidLastName" value="<%= params[:hidLastName] %>" />
									<input name="hidStreetAddress" type="hidden" id="hidStreetAddress" value="<%= params[:hidStreetAddress] %>" />
									<input name="hidCity" type="hidden" id="hidCity" value="<%= params[:hidCity] %>" />
									<input name="hidState" type="hidden" id="hidState" value="<%= params[:hidState] %>" />
									<input name="hidZipCode" type="hidden" id="hidZipCode" value="<%= params[:hidZipCode] %>" />
									<input name="hidPhoneNumber" type="hidden" id="hidPhoneNumber" value="<%= params[:hidPhoneNumber] %>" />
									<input type="hidden" name="hidDateFrom" id="hidDateFrom" value="<%= params[:hidDateFrom] %>" />
									<input type="hidden" name="hidDateTo" id="hidDateTo" value="<%= params[:hidDateTo] %>" />
									<input name="hidStatus" type="hidden" id="hidStatus" value="<%= params[:hidStatus] %>" />
									<input type="submit" name="Submit" id="Submit" value="GO BACK TO REVIEW LISTING" class="org-bt" />
								</form>	
							</div>
						</div>
						
						<div class="singup-form-heading">
								<h1>Review Details</h1>
							</div>
							
						
						
						<% if(!@reviewQuestion.blank? && !@reviewAnswers.blank?) %>
						<% i = 1 %>
							<% @reviewQuestion.each do |quset| %>
							<% if(quset.ParentID == nil) %>
							<% if(i == 1) %>
							<div class="question-block-1">
							<% else %>
							<div class="question-block">
							<% end %>
								<div class="question-number">
									<h1><%= i %></h1>
									<p>
										Question
									</p>
								</div>
								<div class="question-area">
									<div class="question-content">
										<%= quset.Description %>?
									</div>
									<div class="question-content-answers">
										<div class="question-option">
											<% if(quset.id != 17) %>
											<% if(@reviewAnswers[quset.id - 1].IsYes.blank?) %>
											NA
											<% else %>
											<%= @reviewAnswers[quset.id - 1].IsYes %>
											<% end %>
											<% end %>
										</div>
										<div class="question-comment">
											<% if(quset.id != 2) %>
											<%= @reviewAnswers[quset.id - 1].Comments %>
											<% end %>
										</div>
									</div>
								</div>
							</div>
							<% i = i + 1 %>
							<% else %>
							<% if(@reviewAnswers[1].IsYes) == 'Yes' %>
							<div id="divSubQuest<%= quset.id %>" class="sub-question">

								<div class="sub-question-area">
									<div class="question-content">
										<%= quset.Description %>?
									</div>
									<div class="question-content-answers">
										<div class="question-option">
											<%= @reviewAnswers[quset.id - 1].IsYes %>
										</div>

									</div>
								</div>
							</div>
							<% end %>
							<% end %>
							
							<% end %>
						<div class="review-submit-bt">
							<form action="<%= reviews_PublishReview_url %>" id='frmPublishReview' method="post">
								<input name="hidQuestion" type="hidden" id="hidQuestion" value="<%= params[:hidQuestion] %>" />
								<input name="hidAnswer" type="hidden" id="hidAnswer" value="<%= params[:hidAnswer] %>" />
								<input name="hidFirstName" type="hidden" id="hidFirstName" value="<%= params[:hidFirstName] %>" />
								<input name="hidLastName" type="hidden" id="hidLastName" value="<%= params[:hidLastName] %>" />
								<input name="hidStreetAddress" type="hidden" id="hidStreetAddress" value="<%= params[:hidStreetAddress] %>" />
								<input name="hidCity" type="hidden" id="hidCity" value="<%= params[:hidCity] %>" />
									<input name="hidState" type="hidden" id="hidState" value="<%= params[:hidState] %>" />
								<input name="hidZipCode" type="hidden" id="hidZipCode" value="<%= params[:hidZipCode] %>" />
								<input name="hidPhoneNumber" type="hidden" id="hidPhoneNumber" value="<%= params[:hidPhoneNumber] %>" />
								<input type="hidden" name="hidDateFrom" id="hidDateFrom" value="<%= params[:hidDateFrom] %>" />
								<input type="hidden" name="hidDateTo" id="hidDateTo" value="<%= params[:hidDateTo] %>" />
								<input name="hidStatus" type="hidden" id="hidStatus" value="<%= params[:hidStatus] %>" />
								<% if(@reviews.IsPublished) %>
									<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= @reviewID %>" />
									<input type="hidden" id="hidIsPublish" name="hidIsPublish" value="0" />
									<input type="submit" name="Submit" id="Submit" value="Un-Publish" class="org-bt" />
								<% else %>
									<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= @reviewID %>" />
									<input type="hidden" id="hidIsPublish" name="hidIsPublish" value="1" />
									<input type="submit" name="Submit" id="Submit" value="Publish" onclick="return confirm_publish();" class="org-bt" />
								<% end %>
							</form>
						</div>
						<div class="review-submit-bt">
							<form action="<%= reviews_ApproveReview_url %>" method="post">
								<input name="hidQuestion" type="hidden" id="hidQuestion" value="<%= params[:hidQuestion] %>" />
								<input name="hidAnswer" type="hidden" id="hidAnswer" value="<%= params[:hidAnswer] %>" />
								<input name="hidFirstName" type="hidden" id="hidFirstName" value="<%= params[:hidFirstName] %>" />
								<input name="hidLastName" type="hidden" id="hidLastName" value="<%= params[:hidLastName] %>" />
								<input name="hidStreetAddress" type="hidden" id="hidStreetAddress" value="<%= params[:hidStreetAddress] %>" />
								<input name="hidCity" type="hidden" id="hidCity" value="<%= params[:hidCity] %>" />
								<input name="hidState" type="hidden" id="hidState" value="<%= params[:hidState] %>" />
								<input name="hidZipCode" type="hidden" id="hidZipCode" value="<%= params[:hidZipCode] %>" />
								<input name="hidPhoneNumber" type="hidden" id="hidPhoneNumber" value="<%= params[:hidPhoneNumber] %>" />
								<input type="hidden" name="hidDateFrom" id="hidDateFrom" value="<%= params[:hidDateFrom] %>" />
								<input type="hidden" name="hidDateTo" id="hidDateTo" value="<%= params[:hidDateTo] %>" />
								<input name="hidStatus" type="hidden" id="hidStatus" value="<%= params[:hidStatus] %>" />
								<% if(@reviews.IsApproved) %>
									<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= @reviewID %>" />
									<input type="hidden" id="hidIsApproved" name="hidIsApproved" value="0" />
									<input type="submit" name="Submit" id="Submit" value="Dis-Approve" class="org-bt" />
								<% else %>
									<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= @reviewID %>" />
									<input type="hidden" id="hidIsApproved" name="hidIsApproved" value="1" />
									<input type="submit" name="Submit" id="Submit" value="Approve" class="org-bt" />
								<% end %>
							</from>
						</div>
						<% end %>
					</div>

				</div>

				<%= render partial: "/layouts/footer" %>

			</div>
	</body>
</html>
