<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#tbSubUser').dataTable({
					"sPaginationType" : "full_numbers",
					"iDisplayLength" : 25,
					"aLengthMenu" : [25, 50, 100, 200],
					"aaSorting" : [[4,'desc']],
					//"sDom": '<"top"lf>rt<"bottom"ip><"clear">'
					"oLanguage": {
        				"sEmptyTable" : "No Records found."
    				}
				});

				$('#linkEdit').click(function() {

				});

				$("#textDateFrom").datepicker({
					maxDate : new Date(),
					dateFormat : 'mm/dd/yy'
				});
				$("#textDateTo").datepicker({
						minDate : new Date($("#textDateFrom").val()),
						maxDate : new Date(),
						dateFormat : 'mm/dd/yy'
					});
				$("#textDateFrom").change(function() {
					$("#textDateTo").val("");
					$("#textDateTo").datepicker("destroy");
					$("#textDateTo").datepicker({
						minDate : new Date($("#textDateFrom").val()),
						maxDate : new Date(),
						dateFormat : 'mm/dd/yy'
					});
				});

			});
			function EditReview(userID) {
				var eID = '#frmEditUser' + userID
				$(eID).submit();
			}

			function GetReviewsFilter() {
				$("#frmGetReviewsFilter").submit();
			}
		</script>
	</head>
	<body>
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">
					<div class="review-block-wrapper">
						<div class="page-heading">
							Manage Reviews

						</div>

						<div id="singup-form-area">
							<div class="singup-form-heading">
								<h1>
									<div>Review List</div>
									<% if(flash[:notice] != nil) %>
									<div id="messageDiv" class="success">
									<%= flash[:notice] %>
									</div>
									<% end %>
								</h1>
								
								<div style="margin-top: 20px; float: left;">
									<form id="frmGetReviewsFilter" action="<%= reviews_ManageReviews_url %>" method="post">
										
										<div class="singup-textarea">
											<select id="selectQuestion" name="selectQuestion" class="singup-select-large">
												<option value="0">--Review Questions--</option>
												<% if(!@reviewQuestion.blank?) %>
												<% @reviewQuestion.each do |revQuest| %>
												<% if(@questionID.to_i == revQuest.id) %>
												<option value="<%= revQuest.id %>" selected = "selected"><%= revQuest.Description %></option>
												<% else %>
												<option value="<%= revQuest.id %>"><%= revQuest.Description %></option>
												<% end %>
												<% end %>
												<% end %>
											</select>
										</div>
										<div class="singup-textarea">
											<select id="selectAnswer" name="selectAnswer" class="singup-select-small">
												<% if(@answerID == '0') %>
												<option selected="selected" value="0">--Review Answers--</option>
												<% else %>
												<option value="0">--Review Answers--</option>
												<% end %>
												<% if(@answerID == '1') %>
												<option selected="selected" value="1">No Answer</option>
												<% else %>
												<option value="1">No Answer</option>
												<% end %>
												<% if(@answerID == '2') %>
												<option selected="selected" value="2">Yes</option>
												<% else %>
												<option value="2">Yes</option>
												<% end %>
												<% if(@answerID == '3') %>
												<option selected="selected" value="3">No</option>
												<% else %>
												<option value="3">No</option>
												<% end %>
											</select>
										</div>
										
										<div class="singup-textarea">
											<input name="txtFirstName" type="text" class="singup-textbox-small" id="txtFirstName" placeholder="First Name" value="<%= @firstName %>" pattern="^[A-Za-z]+[A-Za-z]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Steve]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input name="txtLastName" type="text" class="singup-textbox-small" id="txtLastName" placeholder="Last Name" value="<%= @lastName %>" pattern="^[A-Za-z]+[A-Za-z]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Steve]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input name="txtStreetAddress" type="text" class="singup-textbox-small" id="txtStreetAddress" placeholder="Street Address" value="<%= @streetAddress %>" pattern="^[A-Za-z0-9 ,]+$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [11111, Street Address]')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input name="selectCity" type="text" autocomplete="off" class="singup-textbox-small" id="selectCity" placeholder="City" value="<%= @city %>" pattern="^[A-Za-z]+[ ]?[A-Za-z]+[ ]?[A-Za-z]+[ ]?[A-Za-z]+[ ]?[A-Za-z]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle, WA] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input name="selectState" type="text" autocomplete="off" class="singup-textbox-small" id="selectState" placeholder="State" value="<%= @state %>" pattern="^[A-Za-z]+[A-Za-z]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [Seattle, WA] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input name="txtZipCode" type="text" class="singup-textbox-small" id="txtZipCode" maxlength="6" placeholder="Zipcode" value="<%= @zipCode %>" pattern="^[0-9]+[0-9]$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [123456] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input name="txtPhoneNumber" type="text" class="singup-textbox-small" id="txtPhoneNumber" maxlength="12" placeholder="Phone Number" value="<%= @phoneNumber %>" pattern="^[0-9]{3,3}[-]?[0-9]{3,3}[-]?[0-9]{4,4}$" oninvalid="this.setCustomValidity('Invalid format. Format should be like [1234567890 or 123-456-7890] ')" oninput="setCustomValidity('')" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textDateFrom" id="textDateFrom" readonly="readonly" autocomplete="off" class="singup-textbox-small"  placeholder="Review Date From" value="<%= @DateFrom %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textDateTo" id="textDateTo" readonly="readonly" autocomplete="off" class="singup-textbox-small"  placeholder="Review Date To" value="<%= @DateTo %>" />
										</div>
										<div class="singup-textarea">
											<input type="submit" name="Submit" id="Submit" value="FILTER SEARCH" class="org-bt-small" />
										</div>
										<div style="float: right; padding-right: 40px; ">
											<select id="selectStatus" name="selectStatus" class="singup-select-small" onchange="GetReviewsFilter();">
												<% if(@statusID == '0') %>
												<option selected="selected" value="0">All Status</option>
												<% else %>
												<option value="0">All</option>
												<% end %>
												<% if(@statusID == '1') %>
												<option selected="selected" value="1">Approved</option>
												<% else %>
												<option value="1">Approve</option>
												<% end %>
												<% if(@statusID == '2') %>
												<option selected="selected" value="2">Disapproved</option>
												<% else %>
												<option value="2">DisApprove</option>
												<% end %>
												<% if(@statusID == '3') %>
												<option selected="selected" value="3">Published</option>
												<% else %>
												<option value="3">Published</option>
												<% end %>
												<% if(@statusID == '4') %>
												<option selected="selected" value="4">Un-Published</option>
												<% else %>
												<option value="4">UnPublished</option>
												<% end %>

											</select>
										</div>
									</form>
								</div>
								
								<div style="margin-top: -40px; margin-left: 350px; float: left;">
									<form id="frmGetReviewsFilter" action="<%= reviews_ManageReviews_url %>" method="post">
										
										<div class="singup-textarea">
											<input type="hidden" id="hidSetFilter" name="hidSetFilter" value="1" />
											<input type="submit" name="Submit" id="Submit" value="RESET FILTER" class="org-bt-small" />
										</div>
									</form>
								</div>

							</div>
							
							
							<div class="singup-form">
								<div id="SignupForm">
									<% if(!@reviews.blank?) %>

									<table id="tbSubUser" style="width: 100%">
										<thead>
											<tr>
												<th align="center">Reviewed</th>
												<th align="center">Reviewed By</th>
												<th align="center">Published</th>
												<th align="center">Approved</th>
												<th align="center">Review Date</th>
												<th align="center">Action</th>
											</tr>
										</thead>

										<tbody>
											<% @reviews.each do |rev| %>
											<tr>
												<td><%= rev.cFirstName %> <%= rev.cLastName %></td>
												<td><%= rev.sFirstName %> <%= rev.sLastName %></td>
												<td align="center"> <% if(rev.IsPublished) %>
												Yes
												<% else %>
												No
												<% end %> </td>
												<td align="center"> <% if(rev.IsApproved) %>
												Yes
												<% else %>
												No
												<% end %> </td>
												<td align="center"><%= rev.DateCreated.strftime('%B %e, %Y') %></td>
												<td align="center">
												<form id="frmEditUser<%= rev.id %>" action="<%= reviews_EditReview_url %>" method="post">
													<input name="hidQuestion" type="hidden" id="hidQuestion" value="<%= @questionID %>" />
													<input name="hidAnswer" type="hidden" id="hidAnswer" value="<%= @answerID %>" />
													<input name="hidFirstName" type="hidden" id="hidFirstName" value="<%= @firstName %>" />
													<input name="hidLastName" type="hidden" id="hidLastName" value="<%= @lastName %>" />
													<input name="hidStreetAddress" type="hidden" id="hidStreetAddress" value="<%= @streetAddress %>" />
													<input name="hidCity" type="hidden" id="hidCity" value="<%= @city %>" />
													<input name="hidState" type="hidden" id="hidState" value="<%= @state %>" />
													<input name="hidZipCode" type="hidden" id="hidZipCode" value="<%= @zipCode %>" />
													<input name="hidPhoneNumber" type="hidden" id="hidPhoneNumber" value="<%= @phoneNumber %>" />
													<input type="hidden" name="hidDateFrom" id="hidDateFrom" value="<%= @DateFrom %>" />
													<input type="hidden" name="hidDateTo" id="hidDateTo" value="<%= @DateTo %>" />
													<input name="hidStatus" type="hidden" id="hidStatus" value="<%= @statusID %>" />
													<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= rev.id %>" />
												</form><a id="linkManageRoles" href="#" onclick="EditReview(<%= rev.id %>);">Edit</a></td>
											</tr>
											<% end %>
										</tbody>

									</table>

									<% else %>
									No Records found.
									<% end %>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
