<!DOCTYPE html>
<html>
	<head>
		<title>NicksList - User Registration</title>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#tbSubUser').dataTable({
					"sPaginationType" : "full_numbers",
					"iDisplayLength" : 25,
					"aLengthMenu" : [25, 50, 100, 200],
					//"sDom": '<"top"lf>rt<"bottom"ip><"clear">'
					"oLanguage": {
        				"sEmptyTable" : "No Records found."
    				}
				});

				$('#linkEdit').click(function() {

				});

				$("#textDateFrom").datepicker({
					maxDate : new Date(),
					dateFormat : 'yy/mm/dd'
				});
				$("#textDateFrom").change(function() {
					$("#textDateTo").val("");
					$("#textDateTo").datepicker("destroy");
					$("#textDateTo").datepicker({
						minDate : new Date($("#textDateFrom").val()),
						maxDate : new Date(),
						dateFormat : 'yy/mm/dd'
					});
				});

			});
			function EditReview(userID) {
				var eID = '#frmEditUser' + userID
				$(eID).submit();
			}

			function GetReviewsFilter() {
				$("#frmGetReviewsFilter").submit();
			}
		</script>
	</head>
	<body>
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">
					<div class="review-block-wrapper">
						<div class="page-heading">
							Manage Reviews

						</div>

						<div id="singup-form-area">
							<div class="singup-form-heading">
								<h1>Review List</h1>
								<div style="float: right; margin-top: -20px">
									<a href="<%= public_records_ManagePublicRecords_url %>" style="text-decoration: underline">Manage Public Records</a>
								</div>
								<div id="Success">
									<%= flash[:notice] %>
								</div>
								<div style="margin-top: 20px; float: left;">
									<form id="frmGetReviewsFilter" action="<%= reviews_ManageReviews_url %>" method="post">
										<div class="singup-textarea">

											<label for="selectStatus">Sort review list by status: </label>
											<select id="selectStatus" name="selectStatus" class="singup-select-small" onchange="GetReviewsFilter();">
												<% if(@filterString == '0') %>
												<option selected="selected" value="0">All</option>
												<% else %>
												<option value="0">All</option>
												<% end %>
												<% if(@filterString == '1') %>
												<option selected="selected" value="1">Approve</option>
												<% else %>
												<option value="1">Approve</option>
												<% end %>
												<% if(@filterString == '2') %>
												<option selected="selected" value="2">DisApprove</option>
												<% else %>
												<option value="2">DisApprove</option>
												<% end %>
												<% if(@filterString == '3') %>
												<option selected="selected" value="3">Published</option>
												<% else %>
												<option value="3">Published</option>
												<% end %>
												<% if(@filterString == '4') %>
												<option selected="selected" value="4">UnPublished</option>
												<% else %>
												<option value="4">UnPublished</option>
												<% end %>

											</select>
										</div>
										<div class="singup-textarea">
											<input type="text" name="textDateFrom" id="textDateFrom" autocomplete="off" class="singup-textbox-small"  placeholder="Review Date From" value="<%= @DateFrom %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textDateTo" id="textDateTo" autocomplete="off" class="singup-textbox-small"  placeholder="Review Date To" value="<%= @DateTo %>" />
										</div>
										<div class="singup-textarea">
											<input type="submit" name="Submit" id="Submit" style="margin-top: -4px" value="GO" class="org-bt" />
										</div>
									</form>
								</div>

							</div>

							<div class="singup-form">
								<div id="SignupForm">
									<% if(!@reviews.blank?) %>

									<table id="tbSubUser" style="width: 100%">
										<thead>
											<tr>
												<th align="center">Reviewed User</th>
												<th align="center">Reviewed By</th>
												<th align="center">Published</th>
												<th align="center">Approved</th>
												<th align="center">Review Date</th>
												<th align="center">Action</th>
											</tr>
										</thead>

										<tbody>
											<% !@reviews.each do |rev| %>
											<tr>
												<td><%= rev.cFirstName %> <%= rev.cLastName %></td>
												<td><%= rev.sFirstName %> <%= rev.sLastName %></td>
												<td align="center"> <% if(rev.IsPublished) %>
												Yes
												<% else %>
												No
												<% end %> </td>
												<td align="center"> <% if(rev.IsApproved) %>
												Yes
												<% else %>
												No
												<% end %> </td>
												<td align="center"><%= rev.DateCreated.strftime('%e %B, %Y') %></td>
												<td align="center">
												<form id="frmEditUser<%= rev.id %>" action="<%= reviews_EditReview_url %>" method="post">
													<input type="hidden" name="hidReviewID" id="hidReviewID" value="<%= rev.id %>" />
												</form><a id="linkManageRoles" href="#" onclick="EditReview(<%= rev.id %>);">Edit</a></td>
											</tr>
											<% end %>
										</tbody>

									</table>

									<% else %>
									No Records found.
									<% end %>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
