<!DOCTYPE html>
<html>
	<body>
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">
					<div id="signup-wrapper">
						<div id="signup-header">
							<h1>My Profile</h1>
						</div>
						<!--<div class="steps"><%= image_tag("step1.jpg", :alt => "") %></div>-->

						<div id="singup-form-area">
							<div class="singup-form-heading">
								<div style="float:right; margin-top: -20px">
								<form id="getSelectedReview" action="<%= user_profile_ViewProfile_url %>" method="post">
								<input type="submit" name="Submit" id="Submit" value="GO BACK TO MY PROFILE" class="org-bt" />
								</form>	
								</div>
								<h1>
									<div>Edit Profile</div>
									<% if(flash[:notice] != nil) %>
									<div id="messageDiv" class="success">
									<%= flash[:notice] %>
									</div>
									<% end %>
								</h1>
							</div>

							<div class="singup-form">
								<div id="SignupForm">
									<form action="<%= user_profile_UpdateProfile_url %>" method="post">
										<div class="singup-textarea">
											<input type="text" name="textFirstName" id="textFirstName" required="true" class="singup-textbox-small"  placeholder="First Name" value="<%= @userFirstName %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" name="textLastName" id="textLastName" required="true" class="singup-textbox-small"  placeholder="Last Name" value="<%= @userLastName %>" />
										</div>
										<div class="singup-textarea">
											<input type="email" name="textEmail" id="textEmail" required="true" class="singup-textbox-small"  placeholder="Email Address" value="<%= @userEmail %>" />
										</div>
										<div class="singup-textarea">
											<input type="text" readonly="readonly" name="textUserName" id="textUserName" required="true" class="singup-textbox-small"  placeholder="User Name" value="<%= @userUserName %>" />
										</div>
										<input type="hidden" name="hidUserID" id="hidUserID" value="<%= @userID %>" />

										<div class="singup-textarea">
											<input type="submit" name="Submit" id="Submit" value="Save Profile" class="org-bt" />
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
