<!DOCTYPE html>
<html>
	<head>
		<title>NicksList - User Registration</title>
		
	</head>
	<body>
		<div id="wrapper">
		<%= render partial: "/layouts/header" %>
		
		<div id="main-content-wrapper">
			<div class="browser-center">
				<div id="signup-wrapper">
					<div id="signup-header">
						<h1>My Profile</h1>
					</div>
					<!--<div class="steps"><%= image_tag("step1.jpg", :alt => "") %></div>-->
					<div id="singup-form-area">
						<div class="singup-form-heading">
							<div style="float:right; font-weight: bold">
								<a href="<%= authentication_ChangePassword_url %>">Change Password</a>
							</div>
							<h1>View Profile</h1>
							<div id="Success"><%= flash[:notice] %></div>
						</div>

						<div class="singup-form">
							<div id="SignupForm">
								<form action="<%= user_profile_EditProfile_url %>" method="post">
									<div>
										<div class="subscription-Item">
											Company Name :
										</div>
										<div class="subscription-Value">
											<%= @usercompanyName %>
										</div>
									</div>
									<div>
										<div class="subscription-Item">
											First Name :
										</div>
										<div class="subscription-Value">
											<%= @userfirstName %>
										</div>
									</div>
									<div>
										<div class="subscription-Item">
											Last Name :
										</div>
										<div class="subscription-Value">
											<%= @userlastName %>
										</div>

									</div>
									<div>
										<div class="subscription-Item">
											Incorporation Type :
										</div>
										<div class="subscription-Value">
											<%= @userincorporationType %>
										</div>

									</div>
									<div>
										<div class="subscription-Item">
											Phone Number :
										</div>
										<div class="subscription-Value">
											<%= @userphoneNumber %>
										</div>

									</div>
									<div>
										<div class="subscription-Item">
											Email ID :
										</div>
										<div class="subscription-Value">
											<%= @useremail %>
										</div>
										<% session[:email_id] =  @email %>
									</div>
									<div>
										<div class="subscription-Item">
											License Number :
										</div>
										<div class="subscription-Value">
											<%= @userlicense %>
										</div>

									</div>
									<div class="subscription-Title">
										Business Address
									</div>

									<div>
										<div class="subscription-Item">
											Street Address :
										</div>
										<div class="subscription-Value">
											<%= @userbussStreetAddress %>
										</div>

									</div>
									<div>
										<div class="subscription-Item">
											City, State :
										</div>
										<div class="subscription-Value">
											<%= @userbussCity %>
										</div>

									</div>
									
									<div>
										<div class="subscription-Item">
											Zip Code:
										</div>
										<div class="subscription-Value">
											<%= @userbussZipCode %>
										</div>

									</div>
									<div class="subscription-Title">
										Mailing Address
									</div>

									<div>
										<div class="subscription-Item">
											Street Address :
										</div>
										<div class="subscription-Value">
											<%= @usermailStreetAddress %>
										</div>

									</div>
									<div>
										<div class="subscription-Item">
											City, State :
										</div>
										<div class="subscription-Value">
											<%= @usermailCity %>
										</div>

									</div>
									
									<div>
										<div class="subscription-Item">
											Zip Code :
										</div>
										<div class="subscription-Value">
											<%= @usermailZipCode %>
										</div>
										
									</div>
										
									<div class="singup-textarea">
									
										<br /><br />
										<input type="submit" name="Submit" id="Submit" value="Edit Profile" class="org-bt" />
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		
		<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
