<!DOCTYPE html>
<html>
	<body>
		<div id="wrapper">
		<%= render partial: "/layouts/header" %>
		
		<div id="main-content-wrapper">
			<div class="browser-center">
				<div id="signup-wrapper">
					<div id="signup-header">
						<h1>My Profile</h1>
					</div>
					<!--<div class="steps"><%= image_tag("step1.jpg", :alt => "") %></div>-->
					<div id="singup-form-area">
						<div class="singup-form-heading">
						
							<div style="float:right; margin-top: -20px">
								<form id="getSelectedReview" action="<%= authentication_ChangePassword_url %>" method="post">
								<input type="submit" name="Submit" id="Submit" value="CHANGE PASSWORD" class="org-bt" />
								</form>	
								</div>
							<h1>
								<div>View Profile</div>
									<% if(flash[:notice] != nil) %>
									<div id="messageDiv" class="success">
										<%= flash[:notice] %>
									</div>
									<% end %>
								</h1>
							
						</div>

						<div class="singup-form">
							<div id="SignupForm">
								<form action="<%= user_profile_EditProfile_url %>" method="post">
									
									<div>
										<div class="subscription-Item">
											First Name
										</div>
										<div class="subscription-Column">:</div>
										<div class="subscription-Value">
											<%= @userFirstName %>
										</div>
									</div>
									
									<div>
										<div class="subscription-Item">
											Last Name 
										</div>
										<div class="subscription-Column">:</div>
										<div class="subscription-Value">
											<%= @userLastName %>
										</div>

									</div>
									<div>
										<div class="subscription-Item">
											Email ID
										</div>
										<div class="subscription-Column">:</div>
										<div class="subscription-Value">
											<%= @userEmail %>
										</div>
									</div>
									<div>
										<div class="subscription-Item">
											User Name
										</div>
										<div class="subscription-Column">:</div>
										<div class="subscription-Value">
											<%= @userUserName %>
										</div>

									</div>
									
									<div class="singup-textarea">
									
										<br /><br />
										<input type="submit" name="Submit" id="Submit" value="Edit Profile" class="org-bt" />
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		
		<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
