<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#tbSubUser').dataTable({
					"sPaginationType" : "full_numbers",
					"iDisplayLength" : 25,
					"aLengthMenu" : [25, 50, 100, 200],
					"aaSorting" : [[3,'desc']],
					//"sDom": '<"top"lf>rt<"bottom"ip><"clear">'
					"oLanguage": {
        				"sEmptyTable" : "No Records found."
    				}
				});

			});
			function ViewHistory(userID) {
				var eID = '#frmViewHistory' + userID
				$(eID).submit();
			}
		</script>
	</head>
	<body>
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">
					<div class="review-block-wrapper">
						<div class="page-heading">Reports</div>

						<div id="singup-form-area">
							<div class="singup-form-heading">
								<h1>
									<div>Admin Login Report</div>
									<% if(flash[:notice] != nil) %>
									<div id="messageDiv" class="success">
									<%= flash[:notice] %>
									</div>
									<% end %>
								</h1>
							</div>

							<div class="singup-form">
								<div id="SignupForm">
									<% if(!@adminLoginDetails.blank?) %>
									
									<table id="tbSubUser" style="width: 100%">
										<thead>
											<tr>
												<th align="center" style="width: 25% !important">First Name</th>
												<th align="center" style="width: 25% !important">Last Name</th>
												<th align="center" style="width: 13% !important">Username</th>
												<th align="center" style="width: 22% !important">Last Login at</th>
												<th align="center" style="width: 15% !important">Action</th>
											</tr>
										</thead>

										<tbody>
											<% @adminLoginDetails.each do |sUser| %>
											<tr>
												<td><%= sUser.FirstName %></td>
												<td><%= sUser.LastName %></td>
												<td><%= sUser.UserName %></td>
												<td><% if(sUser.LoginDateTime != nil) %><%= sUser.LoginDateTime.strftime("%B %e, %Y %H:%M:%S") %><% end %></td>
												<td align="center">
													<diV style="float: left; margin-left: 20px">
														<form id="frmViewHistory<%= sUser.id %>" action="<%= reports_ViewAdminLoginHistory_url %>" method="post">
															<input type="hidden" name="hidUserID" id="hidUserID" value="<%= sUser.id %>" />
															</form>
														<a id="linkVewHistory" href="#" onclick="ViewHistory(<%= sUser.id %>);">View History</a>
													</diV>
												</td>
												</tr>
											<% end %>
										</tbody>

									</table>

									<% else %>
									No Records found.
									<% end %>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
