<!DOCTYPE html>
<html>
	<head>
		<script>
			function confirm_activation(isactive){
				var result;
				if(isactive == 1)
				{
					result = window.confirm('Do you really want to activate this user.');				
				}
				else
				{
					result = window.confirm('Do you really want to deactivate this user.');
				}
				
				return result;
			}
		</script>
	</head>
	<body>
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">
					<div class="review-block-wrapper">
						<div class="page-heading">
							Reports
							<div style="float:right; margin-bottom: 20px">
								<form id="frmManageReview" action="<%= reports_AdminActivityReport_url %>" method="post">
									<input type="hidden" name="hidAdmin" id="hidAdmin" value="<%= params[:hidAdmin] %>" />
									<input type="hidden" name="hidOperation" id="hidOperation" value="<%= params[:hidOperation] %>" />
									<input type="hidden" name="hidFrom" id="hidFrom" value="<%= params[:hidFrom] %>" />
									<input type="hidden" name="hidTo" id="hidTo" value="<%= params[:hidTo] %>" />
									<input type="submit" name="Submit" id="Submit" value="GO BACK TO ADMIN ACTIVITY REPORT" class="org-bt" />
								</form>	
							</div>
						</div>

						<div id="singup-form-area">
							<div class="singup-form-heading">
								<h1>Admin Details</h1>
							</div>

							<div class="singup-form">
								<div id="SignupForm">
									<form action="<%= site_users_UpdateUser_url %>" method="post">

										<div class="singup-textarea">
											<div class="label">
												First Name
											</div>
											<input type="text" name="textFirstName" id="textFirstName" readonly="readonly" class="singup-textbox-small"  placeholder="First Name" value="<%= @userFirstName %>" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												Last Name
											</div>
											<input type="text" name="textLastName" id="textLastName" readonly="readonly" class="singup-textbox-small"  placeholder="Last Name" value="<%= @userLastName %>" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												Email ID
											</div>
											<input type="email" name="textEmail" id="textEmail" readonly="readonly" class="singup-textbox-small"  placeholder="Email Address" value="<%= @userEmail %>" />
										</div>
										<div class="singup-textarea">
											<div class="label">
												Username
											</div>
											<input type="text" readonly="readonly" name="textUserName" id="textUserName" required="true" class="singup-textbox-small"  placeholder="User Name" value="<%= @userUserName %>" />
										</div>
										<input type="hidden" name="hidUserID" id="hidUserID" value="<%= @userID %>" />
									</form>
									
								</div>
							</div>
							<div style="float:left; height: 20px;">&nbsp;</div>
							
							
							<% if(!@siteModule.blank? && !@siteModuleUser.blank?) %>
							<div class="singup-form-heading">
								<h1>Admin's Permission Details</h1>
							</div>

							<div class="singup-form">
								<div id="SignupForm">
									<form action="<%= site_users_AddUpdateRoles_url %>" method="post">
										
											<% @siteModule.each do |siteModule| %>
												<div class="singup-textarea">
													<% if(!@siteModuleUser.blank?) %>
														<% @found = '0' %>
														<% @siteModuleUser.each do |siteModUser| %>
											
															<% if(siteModule.id == siteModUser.ModuleID) %>
																<div class="question-block">
																	<div class="question-area">
																		<div class="question-content">
																			<input type="checkbox" checked="checked" disabled="disabled" id="chkModule<%= siteModule.id %>" name="chkModule<%= siteModule.id %>" value="<%= siteModule.id %>" />
																			<label for="chkModule<%= siteModule.id %>"><%= siteModule.Module %></label>
																		</div>
																		<div class="question-content-answers">
																			<div class="question-comment">
																			<%= siteModule.Description %>
																			</div>
																		</div>
																	</div>
																</div>
																<% @found = '1' %>
																<% break %>
															<% end %>
											
														<% end %>
														<% if(@found == '0') %>
															<div class="question-block">
																	<div class="question-area">
																		<div class="question-content">
																			<input type="checkbox" disabled="disabled" id="chkModule<%= siteModule.id %>" name="chkModule<%= siteModule.id %>" value="<%= siteModule.id %>" />
																			<label for="chkModule<%= siteModule.id %>"><%= siteModule.Module %></label>
																		</div>
																		<div class="question-content-answers">
																			<div class="question-comment">
																			<%= siteModule.Description %>
																			</div>
																		</div>
																	</div>
																</div>
														<% end %>
													<% else %>
														<div class="question-block">
																	<div class="question-area">
																		<div class="question-content">
																			<input type="checkbox" disabled="disabled" id="chkModule<%= siteModule.id %>" name="chkModule<%= siteModule.id %>" value="<%= siteModule.id %>" />
																			<label for="chkModule<%= siteModule.id %>"><%= siteModule.Module %></label>
																		</div>
																		<div class="question-content-answers">
																			<div class="question-comment">
																			<%= siteModule.Description %>
																			</div>
																		</div>
																	</div>
																</div>
													<% end %>
												</div>
											<% end %>
										
										
									</form>
								</div>
							</div>
							<% end %>
							
							
						</div>

					</div>
				</div>
			</div>

			<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>
