<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript">
			tinyMCE.init({
				selector : "textarea",
				theme : "modern",
				plugins : ["advlist autolink lists link image charmap print preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "insertdatetime media nonbreaking save table contextmenu directionality", "emoticons template paste textcolor"],
				toolbar1 : "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
				toolbar2 : "print preview media | forecolor backcolor emoticons",
				image_advtab : true,
				templates : [{
					title : 'Test template 1',
					content : 'Test 1'
				}, {
					title : 'Test template 2',
					content : 'Test 2'
				}],
				file_browser_callback : 'myFileBrowser'
			});
			
			
		</script>
	</head>
	<body>
		<div id="wrapper">
			<%= render partial: "/layouts/header" %>

			<div id="main-content-wrapper">
				<div class="browser-center">
					<div class="review-block-wrapper">
						<div class="page-heading">
							Reports
							<div style="float:right; margin-bottom: 20px">
								<form id="frmManageReview" action="<%= reports_AdminActivityReport_url %>" method="post">
									<input type="hidden" name="hidAdmin" id="hidAdmin" value="<%= params[:hidAdmin] %>" />
									<input type="hidden" name="hidOperation" id="hidOperation" value="<%= params[:hidOperation] %>" />
									<input type="hidden" name="hidFrom" id="hidFrom" value="<%= params[:hidFrom] %>" />
									<input type="hidden" name="hidTo" id="hidTo" value="<%= params[:hidTo] %>" />
									<input type="submit" name="Submit" id="Submit" value="GO BACK TO ADMIN ACTIVITY REPORT" class="org-bt" />
								</form>	
							</div>
						</div>

						<div id="singup-form-area">
							<div class="singup-form-heading">
								<h1>
									Site Content Details
								</h1>
							</div>

							<div class="singup-form">
								<div id="SignupForm">
									<form action="<%= sitecontent_UpdateSiteContent_url %>" method="post">

										<div class="content-textarea">
											<div class="singup-textarea">
											<div class="label">Page Title:</div><div style="float: left"><%= @title %></div>
											
										</div>
										<div class="content-textarea">
											<div class="label">Page Content</div>
											<div style="text-align: justify"><%= @content %></div>
										</div>
									</form>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<%= render partial: "/layouts/footer" %>

		</div>
	</body>
</html>