<div id="footer-wrapper">
	<div class="browser-center">
		<div class="footer-links">
			<ul>
				<li>
					<a href="<%= nicks_admin_Index_path %>">Home</a>
				</li>
				<li>
					<a href="<%= site_users_ManageUsers_url %>">Manage Admins</a>
				</li>
				<li>
					<a href="<%= users_ManageUsers_url %>">Manage Users</a>
				</li>
				<li>
					<a href="<%= reviews_ManageReviews_url %>">Manage Reviews</a>
				</li>
			</ul>
		</div>
		<div class="copyright">
			Copyright © <%= Time.now.year %>. All Rights Reserved. 
		</div>
	</div>
</div>